@import 'settings';

// Comments
.comment {
  display: block;
  background: 3px solid $gray-lighter-1;
}

.comment__content {
  background: $gray-lighter-1;
  border-radius: 10px;
  margin-left: 40px;
  padding: 0;
  position: relative;
  border: 0 none;
  width: 100%;
  box-shadow: none;

  &:after {
    display: none;
  }

  &:before {
    background: $gray-lighter-1;
    border: 0 none;
    content: '';
    height: 40px;
    left: -20px;
    position: absolute;
    top: 20px;
    transform: rotate(45deg);
    width: 40px;
  }

  .nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  h3 {
    margin-top: 0;
  }

  .card-block {
    background: $gray-lighter-1;
    border-radius: 10px;
    padding: 30px;
  }

  .user-picture {
    float: left;
  }

  .user-info {
    margin-left: 130px;
  }

  .nav {
    justify-content: left;
    padding: .5rem 0;
  }

  .comment-delete,
  .comment-edit,
  .comment-reply {
    font-size: 1rem;
  }

  .comment-delete:before,
  .comment-edit:before,
  .comment-reply:before {
    @extend %awsome;
    color: $gray-light-1;
    padding-right: 5px;
  }

  .comment-delete:before {
    content: "\f014";
  }

  .comment-edit:before {
    content: "\f040";
  }

  .comment-reply:before {
    content: "\f112";
  }
}

body .main-content .comment-wrapper .comment-form__title {
  margin-bottom: 0.5em;
  border: 0;
  font-size: 20px;
  margin-top: 3rem;
  font-weight: bold;
}
