@import "settings";

//API programs section
.block-api-programs {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin: 0 0 0 -50vw;
  position: relative;
  width: 100vw;

  h2 {
    border-bottom-color: $white;
    color: $white;
    margin: 30px auto;
    padding: 30px 0 2px;
  }

  .content {
    padding-bottom: 30px;
    text-align: center;
  }

  .org_row {
    @include for-tablet-landscape-down {
      display: unset;
    }

    display: inline-flex;
    text-align: center;

    a {
      @include for-tablet-landscape-down {
        padding-left: 0;
        padding-right: 0;
      }

      padding-left: 20px;
      padding-right: 20px;
    }

    &.slick-slider {
      display: block;
      max-width: 800px;
      margin: auto;
    }
  }

  .slick-slider .internal-url {
    display: flex !important; // Used important to override inline css.
    flex-flow: column;
    align-items: center;

    &:focus {
      outline: 0;
    }
  }

  .org-image {
    background: $white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16); // sass-lint:disable-line no-color-literals
    height: 100px;
    object-fit: cover;
    width: 100px;
  }

  .no-image {
    @include for-tablet-portrait-up {
      display: inline-block;
    }

    background: $gray-lighter-1;
    border-radius: 50%;
    cursor: pointer;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100px;

    &::before {
      content: "NO IMAGE";
      left: 15%;
      position: absolute;
      text-align: center;
      top: 42%;
    }
  }

  .org_title {
    @include for-tablet-landscape-down {
      margin-bottom: 10px;
    }

    @include font(18, normal);
    color: $white;
    margin-top: 8px;
    text-align: center;
  }
}

// Upcoming Events
.block-upcoming-events {
  @include for-tablet-landscape-up {
    margin-bottom: 20px;
  }

  background-color: $gray-lighter-1;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 $gray-lighter !important; // sass-lint:disable-line no-important
  height: 100%;
  padding: 20px;
  position: relative;
  width: 78.5%;

  h2 {
    @include for-tablet-landscape-down {
      margin: .5rem 0;
    }

    &::after {
      @extend %awsome;

      @include font(32, normal);
      content: "\f274";
      position: absolute;
      right: 25px;
    }
  }

  .view-content.row {
    @include for-tablet-landscape-down {
      min-width: unset;
    }

    display: block;
    min-height: 338px;
    margin: 0;
  }

  .views-row {
    border-bottom: 1px solid $gray-lighter-1;
    padding: 10px 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  .upcoming-event {
    display: flex;
  }

  .other-details {
    div {
      padding-bottom: 5px;
    }
  }

  .listing-image {
    padding-right: 15px;
  }

  .view-empty {
    @include for-tablet-landscape-down {
      min-height: auto;
      padding: 20px 0;
    }

    min-height: 418px;
    padding: 20px 0 0;
  }
}

.layout__region--first {
  .block-upcoming-events {
    margin-left: auto;
    margin-right: 0.9rem;
  }

  .block-latest-qna {
    margin-left: auto;
    margin-right: 0.9rem;
  }
}

.layout__region--second {
  .block-upcoming-events {
    margin-right: auto;
    margin-left: 0.9rem;
  }

  .block-latest-qna {
    margin-right: auto;
    margin-left: 0.9rem;
  }
}

// Latest Q&A
.block-latest-qna {
  @extend .block-upcoming-events;
}
