@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

.alert {
  padding: 0.75rem 1.25rem;
  margin: 21px auto;
  border: 1px solid transparent;
  border-radius: 5px;
  max-width: 99%;
}

.alert * {
  margin-top: 0;
  color: inherit;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert hr {
  display: none;
}

.alert-dismissible .close {
  padding: 0.25rem;
  color: inherit;
}

.alert em {
  font-weight: 500;
  font-style: normal;
}

.alert-sm {
  padding: 0.25rem 0.75rem;
}

.alert-success {
  color: #285b2a;
  background-color: #dbefdc;
}

.alert-danger {
  color: #7f231c;
  background-color: #fdd9d7;
}
