@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

.cards-block {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.card-paragraph {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
}

.card-paragraph {
  background-color: #f4f4f4;
  border-radius: 4px;
}

.card-paragraph .field--name-field-link-dashboard a {
  border: 1px solid #384e86;
  color: #384e86;
  text-transform: capitalize;
}

.card-paragraph .field--name-field-link-dashboard a:hover {
  background-color: #384e86;
  border-color: #384e86;
  color: #fff;
}

.card-paragraph .field--name-field-link-dashboard a {
  border-radius: 20px;
  padding: 6px 10px;
}

.card {
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.75rem;
  background-clip: padding-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__title {
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 15px 1.25rem 0;
  line-height: 1;
  font-size: 1rem;
}

.card__subtitle {
  font-size: 0.75rem;
  display: block;
}

.card__title--underline {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.card__block {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card__block + .card__block {
  padding-top: 0;
}

.card__block--table {
  padding: 1.25rem 0;
}

.card__block--table:not(:first-child) {
  padding-top: 0;
}

.card__block--list:not(:last-child) {
  padding-bottom: 0;
}

.card__body {
  position: relative;
  padding: 1.25rem;
}

.card__body .twitter-tweet,
.card__body .fb_iframe_widget,
.card__body iframe {
  max-width: 100% !important;
  width: 100% !important;
}

.card__nested-section {
  margin-top: 0.625rem;
  margin-right: -1.25rem;
  margin-bottom: -1.25rem;
  margin-left: -1.25rem;
  padding: 1.25rem;
  background: #f4f4f4;
  border-top: 1px solid #e6e6e6;
}

.card__actionbar {
  margin-top: -1.25rem;
  padding: 1.25rem;
  position: relative;
  z-index: 2;
}

.card__actionbar:before, .card__actionbar:after {
  content: " ";
  display: table;
}

.card__actionbar:after {
  clear: both;
}

.card__link {
  font-size: 0.875rem;
  margin-left: 24px;
  float: right;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.card__text {
  margin-top: 0;
}

.card__text:last-child {
  margin-bottom: 0;
}

.leaflet-popup-content .card__block {
  padding: 0;
}

.card--stream .card__block .card__nested-section {
  padding-top: 0.625rem;
}

.block-views-blockgroup-managers-block-list-managers .card > .card__title, .block-views-blockgroup-managers-block-list-managers.card > .card__title,
.view-group-information .card > .card__title,
.view-group-information.card > .card__title,
.block-social-group-tags-block .card > .card__title,
.block-social-group-tags-block.card > .card__title {
  text-align: center;
}

.cards-block {
  margin-top: 60px;
  padding: 0;
}

.cards-block .item-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.cards-block .view-footer {
  text-align: center;
}

.cards-block .view-footer a {
  background-color: #1d76ee;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  padding: 15px 50px;
}

.card-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.card-field > .card__item {
  margin-bottom: 30px;
  padding: 0 15px;
  width: 100%;
}

.card-field > .card__item > div {
  height: 100%;
}

.card-paragraph {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-bottom: 1.25rem;
}

.card-paragraph > div {
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

.card-paragraph > div.forum-content {
  padding: 0;
}

.card-paragraph .product-image {
  min-height: 242px;
  padding: 0;
}

.card-paragraph .field--name-field-image,
.card-paragraph .use-case-image,
.card-paragraph .solution-image {
  margin: 0;
  padding: 0;
  min-height: 242px;
}

.card-paragraph .field--name-field-title,
.card-paragraph .title {
  font-size: 1.28571rem;
  font-weight: normal;
  color: #1d76ee;
  margin-bottom: 20px;
  padding: 10px 10px 0;
}

.card-paragraph .field--name-field-description {
  margin-bottom: 30px;
  padding: 0 10px;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.card-paragraph .field--name-field-description p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
}

.card-paragraph .field--name-field-description p:last-child {
  margin-bottom: 0;
}

.card-paragraph .field--name-field-link-dashboard {
  margin: auto 0 20px;
}

.card-paragraph .field--name-field-link-dashboard a {
  font-size: 1rem;
  font-weight: 500;
  background: none;
  border: 1px solid #384e86;
  color: #384e86;
  display: inline-block;
  text-decoration: none;
}

@media (min-width: 576px) {
  .cards-block {
    max-width: 540px;
  }
  .card-field > .card__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 600px) {
  .cards-block {
    max-width: 720px;
  }
  .card-field > .card__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 900px) {
  .cards-block {
    max-width: 960px;
  }
  .card__body {
    padding: 2.5rem;
  }
  .card-field > .card__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .cards-block {
    max-width: 1140px;
  }
}

@media (max-width: 575px) {
  .card-field > .card__item {
    padding: 0;
  }
}
