@charset "UTF-8";
@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

/*
 * Don't style form controls in the layout builder as that breaks a lot of
 * things.
 */
form:not(.layout-builder-configure-block) {
  /* Remove default Radio Buttons */
  /* Unchecked styles */
  /* Disabled style */
}

form:not(.layout-builder-configure-block) .form-control {
  display: block;
  width: 100%;
  max-width: 23rem;
  height: 35px;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.5;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

form:not(.layout-builder-configure-block) .form-control::-moz-placeholder {
  opacity: 1;
}

form:not(.layout-builder-configure-block) .form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

form:not(.layout-builder-configure-block) .form-control:disabled,
fieldset[disabled] form:not(.layout-builder-configure-block) .form-control,
.form-disabled form:not(.layout-builder-configure-block) .form-control {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.26);
}

.comment-wrapper form:not(.layout-builder-configure-block) .form-control.button {
  width: 120px;
}

form:not(.layout-builder-configure-block) .form-control--autogrow {
  resize: none;
  min-height: 38px;
  overflow: hidden;
  max-width: none;
}

form:not(.layout-builder-configure-block) textarea.form-control {
  height: auto;
}

form:not(.layout-builder-configure-block) input[type="search"],
form:not(.layout-builder-configure-block) input[type="text"] {
  -webkit-box-shadow: inset 0 20px 20px -25px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 20px 20px -25px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}

form:not(.layout-builder-configure-block) input[type="search"]:focus,
form:not(.layout-builder-configure-block) input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 20px 20px -25px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 20px 20px -25px rgba(0, 0, 0, 0.1);
}

form:not(.layout-builder-configure-block) input[type="radio"],
form:not(.layout-builder-configure-block) input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

form:not(.layout-builder-configure-block) input[type="file"] {
  display: inline-block;
}

form:not(.layout-builder-configure-block) select[multiple],
form:not(.layout-builder-configure-block) select[size] {
  height: auto;
}

form:not(.layout-builder-configure-block) input[type="file"]:focus,
form:not(.layout-builder-configure-block) input[type="radio"]:focus,
form:not(.layout-builder-configure-block) input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

form:not(.layout-builder-configure-block) input[type="search"] {
  -webkit-appearance: none;
}

form:not(.layout-builder-configure-block) .data-policy-edit-form .form-textarea {
  max-width: 100%;
}

form:not(.layout-builder-configure-block) .radio,
form:not(.layout-builder-configure-block) .checkbox {
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding-left: 0;
}

form:not(.layout-builder-configure-block) .radio + .radio,
form:not(.layout-builder-configure-block) .checkbox + .checkbox {
  margin-top: -5px;
}

form:not(.layout-builder-configure-block) [type="radio"]:not(:checked),
form:not(.layout-builder-configure-block) [type="radio"]:checked,
form:not(.layout-builder-configure-block) [type="checkbox"]:not(:checked),
form:not(.layout-builder-configure-block) [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

form:not(.layout-builder-configure-block) .form-no-label.checkbox [type="radio"],
form:not(.layout-builder-configure-block) .form-no-label.checkbox [type="checkbox"] {
  opacity: 1;
  left: 0;
  margin: 0;
  position: static;
}

form:not(.layout-builder-configure-block) .checkbox label,
form:not(.layout-builder-configure-block) .radio label {
  font-weight: 300;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  line-height: 21px;
  font-size: 0.875rem;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

form:not(.layout-builder-configure-block) .radio label:before,
form:not(.layout-builder-configure-block) .radio label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 2px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}

form:not(.layout-builder-configure-block) [type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #1d76ee;
}

form:not(.layout-builder-configure-block) [type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #1d76ee;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

form:not(.layout-builder-configure-block) [type="radio"]:checked + label:before {
  border: 2px solid #1d76ee;
  border-radius: 50%;
}

form:not(.layout-builder-configure-block) [type="radio"]:checked + label:after {
  background-color: #1d76ee;
  border-radius: 50%;
  z-index: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

form:not(.layout-builder-configure-block) [type="radio"]:disabled + label:before,
form:not(.layout-builder-configure-block) [type="radio"]:disabled + label:before {
  background-color: transparent;
}

form:not(.layout-builder-configure-block) [type="radio"]:disabled:checked + label:before {
  border: 2px solid rgba(0, 0, 0, 0.26);
}

form:not(.layout-builder-configure-block) [type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
}

form:not(.layout-builder-configure-block) [type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

form:not(.layout-builder-configure-block) [type="radio"]:disabled:checked + label:after {
  background-color: rgba(0, 0, 0, 0.26);
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}

form:not(.layout-builder-configure-block) [type="checkbox"] + label:after {
  border-radius: 2px;
}

form:not(.layout-builder-configure-block) [type="checkbox"] + label:before,
form:not(.layout-builder-configure-block) [type="checkbox"] + label:after {
  content: "";
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
          transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #1d76ee;
  top: 0px;
  z-index: 0;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotateZ(37deg);
          transform: rotateZ(37deg);
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:checked + label:after {
  background-color: #1d76ee;
  top: 0px;
  width: 20px;
  height: 20px;
  z-index: 0;
}

form:not(.layout-builder-configure-block) [type="checkbox"].tabbed:focus + label:after {
  border-radius: 2px;
  border-color: #1d76ee;
  background-color: rgba(0, 0, 0, 0.1);
}

form:not(.layout-builder-configure-block) [type="checkbox"].tabbed:checked:focus + label:after {
  border-radius: 2px;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #bdbdbd;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:disabled:checked + label:before {
  background-color: transparent;
}

form:not(.layout-builder-configure-block) [type="checkbox"]:disabled:checked + label:after {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
}

form:not(.layout-builder-configure-block) .form-inline {
  margin-bottom: 1rem;
}

form:not(.layout-builder-configure-block) .select-wrapper {
  position: relative;
  width: 100%;
  max-width: 23rem;
}

form:not(.layout-builder-configure-block) .select-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1;
  padding-right: 30px;
}

form:not(.layout-builder-configure-block) .select-wrapper select:disabled {
  color: rgba(0, 0, 0, 0.26);
}

form:not(.layout-builder-configure-block) .select-wrapper:after {
  content: "▾";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: -0.5em;
  padding-right: 12px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

form:not(.layout-builder-configure-block) .form-inline .select-wrapper {
  width: auto;
}

form:not(.layout-builder-configure-block) .input-group .select-wrapper {
  display: table-cell;
}

form:not(.layout-builder-configure-block) .form-select {
  -webkit-box-shadow: inset 0 20px 20px -25px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 20px 20px -25px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-top: 4px;
}

form:not(.layout-builder-configure-block) .form-disabled .select-wrapper::after {
  color: #777777;
}

@media (min-width: 600px) {
  form:not(.layout-builder-configure-block) .form-inline .radio input[type="radio"],
  form:not(.layout-builder-configure-block) .form-inline .checkbox input[type="checkbox"] {
    position: absolute;
  }
  form:not(.layout-builder-configure-block) .form-inline .radio label,
  form:not(.layout-builder-configure-block) .form-inline .checkbox label {
    padding-left: 22px;
    margin-right: 25px;
  }
}

@media (min-width: 900px) {
  form:not(.layout-builder-configure-block) .form-control {
    font-size: 14px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  form:not(.layout-builder-configure-block) .form-control {
    font-size: 14px;
  }
  form:not(.layout-builder-configure-block) input[type="time"].form-control,
  form:not(.layout-builder-configure-block) input[type="datetime-local"].form-control,
  form:not(.layout-builder-configure-block) input[type="month"].form-control {
    line-height: 21px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  form:not(.layout-builder-configure-block) input[type="time"].form-control:focus,
  form:not(.layout-builder-configure-block) input[type="datetime-local"].form-control:focus,
  form:not(.layout-builder-configure-block) input[type="month"].form-control:focus {
    background: inherit;
  }
  form:not(.layout-builder-configure-block) input[type="date"].form-control {
    line-height: 21px;
    background: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  form:not(.layout-builder-configure-block) input[type="date"].form-control:focus {
    background: inherit;
  }
}

@media all and (-ms-high-contrast: none) {
  form:not(.layout-builder-configure-block) *::-ms-backdrop,
  form:not(.layout-builder-configure-block) .select-wrapper:after {
    display: none;
  }
  form:not(.layout-builder-configure-block) *::-ms-backdrop,
  form:not(.layout-builder-configure-block) .select-wrapper select {
    padding-right: 12px;
  }
}
