@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

.fivestar-form-1 .js-form-type-fivestar,
.fivestar-form-1 .js-form-item-vote,
.fivestar-form-2 .js-form-type-fivestar,
.fivestar-form-2 .js-form-item-vote {
  margin-bottom: 0;
}

.fivestar-form-1 .fivestar-widget,
.fivestar-form-2 .fivestar-widget {
  margin-bottom: 5px;
}

.fivestar-form-1 .fivestar-widget .star,
.fivestar-form-2 .fivestar-widget .star {
  background: none !important;
  height: 30px;
  margin: 0 10px;
  overflow: unset;
  width: 30px;
}

.fivestar-form-1 .fivestar-widget .star:first-child,
.fivestar-form-2 .fivestar-widget .star:first-child {
  margin-left: 0;
}

.fivestar-form-1 .fivestar-widget .star a,
.fivestar-form-2 .fivestar-widget .star a {
  background: none !important;
  border-bottom: 16px solid #adadad;
  border-left: 24px solid transparent;
  border-right: 15px solid transparent;
  color: #adadad;
  display: block;
  height: 0;
  margin: 5px 0;
  overflow: unset;
  position: relative;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 0;
}

.fivestar-form-1 .fivestar-widget .star a::before,
.fivestar-form-2 .fivestar-widget .star a::before {
  border-bottom: 20px solid #adadad;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  display: block;
  height: 0;
  left: -16px;
  position: absolute;
  top: -9px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 0;
}

.fivestar-form-1 .fivestar-widget .star a::after,
.fivestar-form-2 .fivestar-widget .star a::after {
  border-bottom: 15px solid #adadad;
  border-left: 15px solid transparent;
  border-right: 23px solid transparent;
  color: #adadad;
  content: '';
  display: block;
  height: 0;
  left: -24px;
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  width: 0;
}

.fivestar-form-1 .star.hover a,
.fivestar-form-1 .star.on a,
.fivestar-form-2 .star.hover a,
.fivestar-form-2 .star.on a {
  border-bottom-color: #1d76ee;
  color: #1d76ee;
}

.fivestar-form-1 .star.hover a::before,
.fivestar-form-1 .star.on a::before,
.fivestar-form-2 .star.hover a::before,
.fivestar-form-2 .star.on a::before {
  border-bottom-color: #1d76ee;
}

.fivestar-form-1 .star.hover a::after,
.fivestar-form-1 .star.on a::after,
.fivestar-form-2 .star.hover a::after,
.fivestar-form-2 .star.on a::after {
  border-bottom-color: #1d76ee;
  color: #1d76ee;
}
