@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

.ajax-progress .throbber,
.ajax-progress .message {
  display: none;
}

.ajax-progress {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  height: 100vh;
  left: 0;
  margin-top: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.ajax-progress::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.ajax-progress.ajax-progress-fullscreen::before {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
