
{#
/**
 * @file voyager-ui-field-item.html.twig
 * Default theme implementation for Voyager UI field items.
 *
 * Available variables:
 * - none
 *
 * @ingroup themeable
 */
#}
{{ attach_library('odp_voyager/api_voyager_formatter') }}
<div id="voyager">Loading...</div>
