@import "settings";

// Profile page
.path-user {
  .profile {
      @extend %custom-container;

    .layout__region--content {
      background-color: $gray-lighter-1;
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16);
      margin-bottom: 50px;
      min-height: 270px;
      padding: 4% 0%;
      position: relative;
      flex-flow: column;

      .field {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding-bottom: 5px;

        .field__label {
          font-weight: 600;
          width: 110px;

          &::after {
            content: ': ';
            margin-right: 10px;
          }
        }

        span {
          +br {
            // sass-lint:disable-line nesting-depth
            @extend %none;
          }

          ~span {
            // sass-lint:disable-line nesting-depth
            &::before {
              content: ', ';
              left: -2px;
              position: relative;
            }
          }
        }

        a {
          background: transparent;
          border-radius: 6px;
          color: $white;
          font-size: 12px;
          padding: 0;
        }

        .field__item {
          display: inline-block;

          a {
            background: transparent;
            color: $gray-base;
            font-size: 1rem;
            padding: 0;
          }

          p {
            margin: 0;
          }
        }
      }

      .field--type-entity-reference {
        margin: 0;
      }

      .field {
        @include for-ipad-landscape-down {
          margin: 0 auto;
        }

        @include for-phone-down {
          width: 200px;
        }

        align-self: center;
        margin: 0 auto 0 50%;
        width: 246px;

        .js-form-type-item {
          text-align: center;
        }
      }

      .field--name-user-picture {
        @include for-ipad-landscape-down {
          height: 100px;
          left: 0;
          margin: 0 auto 20px;
          position: relative;
          right: 0;
          width: 100px;
        }

        @include for-phone-down {
          width: 100px;
        }

        border-radius: 50%;
        height: 180px;
        left: -200px;
        position: absolute;
        width: 180px;

        h4 {
          @include font (22, normal);
        }

        img {
          @include for-ipad-landscape-down {
            max-height: 100px;
            min-height: 100px;
            max-width: 100px;
            min-width: 100px;
          }

          border: 2px solid $blue;
          border-radius: 50%;
          max-height: 180px;
          min-height: 180px;
          max-width: 180px;
          min-width: 180px;
        }
      }

      .block-extra-field-blockuserusermember-for {
        @include for-ipad-landscape-down {
          left: 0;
          margin: 0 auto;
          position: relative;
          right: 0;
          bottom: 0;
        }

        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        bottom: 20px;
      }
    }
  }

  .listing-grid {
    justify-content: center !important;

    .view-content,
    .view-empty {
      flex: 100%;
      max-width: 100%;
    }
  }

  .programs_user {
    @extend %custom-container;
  }

  .org_row-new {
    background-color: $gray-lighter-1;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 50px;
    min-height: 270px;
    padding: 2% 0%;
    position: relative;

    a {
      @include for-phone-down {
        width: 100%;
      }

      @include for-tablet-landscape-down {
        width: 50%;
      }

      @include for-ipad-landscape-down {
        width: 25%;
      }

      padding: 20px;
      text-align: center;
      width: 20%;

      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}
