<div class="forum-stats-wrapper">
  <div class="users"><i class="fa fa-users fa-2x" aria-hidden="true"></i>{{ users }} Members</div>
  <div class="posts"><i class="fa fa-file fa-2x" aria-hidden="true"></i>{{ posts }} Posts</div>
  <div class="comments"><i class="fa fa-comment fa-2x" aria-hidden="true"></i>{{ comments }} Comments</div>
</div>
