// -----Font family----- //

.font-times {
  font-family: 'Times New Roman', Times, serif !important; // sass-lint:disable-line no-important
}

.font-georgia {
  font-family: Georgia, serif !important; // sass-lint:disable-line no-important
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif !important; // sass-lint:disable-line no-important
}

// -----Link and Text Color----- //

.link-clr-ac725e {
  a {
    @include theme(color, #ac725e);
  }
}

.txt-clr-ac725e {
  p,
  span,
  li,
  div {
    @include theme(color, #ac725e);
  }
}

.link-clr-d06b64 {
  a {
    @include theme(color, #d06b64);
  }
}

.txt-clr-d06b64 {
  p,
  span,
  li,
  div {
    @include theme(color, #d06b64);
  }
}

.link-clr-f83a22 {
  a {
    @include theme(color, #f83a22);
  }
}

.txt-clr-f83a22 {
  p,
  span,
  li,
  div {
    @include theme(color, #f83a22);
  }
}

.link-clr-fa573c {
  a {
    @include theme(color, #fa573c);
  }
}

.txt-clr-fa573c {
  p,
  span,
  li,
  div {
    @include theme(color, #fa573c)
  }
}

.link-clr-ff7537 {
  a {
    @include theme(color, #ff7537);
  }
}

.txt-clr-ff7537 {
  p,
  span,
  li,
  div {
    @include theme(color, #ff7537);
  }
}

.link-clr-ffad46 {
  a {
    @include theme(color, #ffad46);
  }
}

.txt-clr-ffad46 {
  p,
  span,
  li,
  div {
    @include theme(color, #ffad46);
  }
}

.link-clr-42d692 {
  a {
    @include theme(color, #42d692);
  }
}

.txt-clr-42d692 {
  p,
  span,
  li,
  div {
    @include theme(color, #42d692);
  }
}

.link-clr-16a765 {
  a {
    @include theme(color, #16a765);
  }
}

.txt-clr-16a765 {
  p,
  span,
  li,
  div {
    @include theme(color, #16a765);
  }
}

.link-clr-7bd148 {
  a {
    @include theme(color, #7bd148);
  }
}

.txt-clr-7bd148 {
  p,
  span,
  li,
  div {
    @include theme(color, #7bd148);
  }
}

.link-clr-b3dc6c {
  a {
    @include theme(color, #b3dc6c);
  }
}

.txt-clr-b3dc6c {
  p,
  span,
  li,
  div {
    @include theme(color, #b3dc6c);
  }
}

.link-clr-fbe983 {
  a {
    @include theme(color, #fbe983);
  }
}

.txt-clr-fbe983 {
  p,
  span,
  li,
  div {
    @include theme(color, #fbe983);
  }
}

.link-clr-92e1c0 {
  a {
    @include theme(color, #92e1c0);
  }
}

.txt-clr-92e1c0 {
  p,
  span,
  li,
  div {
    @include theme(color, #92e1c0);
  }
}

.link-clr-9fe1e7 {
  a {
    @include theme(color, #9fe1e7);
  }
}

.txt-clr-9fe1e7 {
  p,
  span,
  li,
  div {
    @include theme(color, #9fe1e7);
  }
}

.link-clr-9fc6e7 {
  a {
    @include theme(color, #9fc6e7);
  }
}

.txt-clr-9fc6e7 {
  p,
  span,
  li,
  div {
    @include theme(color, #9fc6e7);
  }
}

.link-clr-4986e7 {
  a {
    @include theme(color, #4986e7);
  }
}

.txt-clr-4986e7 {
  p,
  span,
  li,
  div {
    @include theme(color, #4986e7);
  }
}

.link-clr-9a9cff {
  a {
    @include theme(color, #9a9cff);
  }
}

.txt-clr-9a9cff {
  p,
  span,
  li,
  div {
    @include theme(color, #9a9cff);
  }
}

.link-clr-b99aff {
  a {
    @include theme(color, #b99aff);
  }
}

.txt-clr-b99aff {
  p,
  span,
  li,
  div {
    @include theme(color, #b99aff);
  }
}

.link-clr-c2c2c2 {
  a {
    @include theme(color, #c2c2c2);
  }
}

.txt-clr-c2c2c2 {
  p,
  span,
  li,
  div {
    @include theme(color, #c2c2c2);
  }
}

.link-clr-cabdbf {
  a {
    @include theme(color, #cabdbf);
  }
}

.txt-clr-cabdbf {
  p,
  span,
  li,
  div {
    @include theme(color, #cabdbf);
  }
}

.link-clr-cca6ac {
  a {
    @include theme(color, #cca6ac);
  }
}

.txt-clr-cca6ac {
  p,
  span,
  li,
  div {
    @include theme(color, #cca6ac);
  }
}

.link-clr-f691b2 {
  a {
    @include theme(color, #f691b2);
  }
}

.txt-clr-f691b2 {
  p,
  span,
  li,
  div {
    @include theme(color, #f691b2);
  }
}

.link-clr-cd74e6 {
  a {
    @include theme(color, #cd74e6);
  }
}

.txt-clr-cd74e6 {
  p,
  span,
  li,
  div {
    @include theme(color, #cd74e6);
  }
}

.link-clr-a47ae2 {
  a {
    @include theme(color, #a47ae2);
  }
}

.txt-clr-a47ae2 {
  p,
  span,
  li,
  div {
    @include theme(color, #a47ae2);
  }
}

// -----Icon and Header Color----- //

.hdr-clr-ac725e {
  .site-footer,
  .header {
    @include theme(background, #ac725e);
  }
}

.ico-clr-ac725e {
  .social-media-links--platforms {
    a {
      @include theme(background, #ac725e);
    }
  }
}

.ico-clr-d06b64 {
  .social-media-links--platforms {
    a {
      @include theme(background, #d06b64);
    }
  }
}

.hdr-clr-d06b64 {
  .header,
  .site-footer {
    @include theme(background, #d06b64);
  }
}

.ico-clr-f83a22 {
  .social-media-links--platforms {
    a {
      @include theme(background, #f83a22);
    }
  }
}

.hdr-clr-f83a22 {
  .header,
  .site-footer {
    @include theme(background, #f83a22);
  }
}

.ico-clr-fa573c {
  .social-media-links--platforms {
    a {
      @include theme(background, #fa573c);
    }
  }
}

.hdr-clr-fa573c {
  .header,
  .site-footer {
    @include theme(background, #fa573c);
  }
}

.ico-clr-ff7537 {
  .social-media-links--platforms {
    a {
      @include theme(background, #ff7537);
    }
  }
}

.hdr-clr-ff7537 {
  .header,
  .site-footer {
    @include theme(background, #ff7537);
  }
}

.ico-clr-ffad46 {
  .social-media-links--platforms {
    a {
      @include theme(background, #ffad46);
    }
  }
}

.hdr-clr-ffad46 {
  .header,
  .site-footer {
    @include theme(background, #ffad46);
  }
}

.ico-clr-42d692 {
  .social-media-links--platforms {
    a {
      @include theme(background, #42d692);
    }
  }
}

.hdr-clr-42d692 {
  .header,
  .site-footer {
    @include theme(background, #42d692);
  }
}

.ico-clr-16a765 {
  .social-media-links--platforms {
    a {
      @include theme(background, #16a765);
    }
  }
}

.hdr-clr-16a765 {
  .header,
  .site-footer {
    @include theme(background, #16a765);
  }
}

.ico-clr-7bd148 {
  .social-media-links--platforms {
    a {
      @include theme(background, #7bd148);
    }
  }
}

.hdr-clr-7bd148 {
  .header,
  .site-footer {
    @include theme(background, #7bd148);
  }
}

.ico-clr-b3dc6c {
  .social-media-links--platforms {
    a {
      @include theme(background, #b3dc6c);
    }
  }
}

.hdr-clr-b3dc6c {
  .header,
  .site-footer {
    @include theme(background, #b3dc6c);
  }
}

.ico-clr-fbe983 {
  .social-media-links--platforms {
    a {
      @include theme(background, #fbe983);
    }
  }
}

.hdr-clr-fbe983 {
  .header,
  .site-footer {
    @include theme(background, #fbe983);
  }
}

.ico-clr-92e1c0 {
  .social-media-links--platforms {
    a {
      @include theme(background, #92e1c0);
    }
  }
}

.hdr-clr-92e1c0 {
  .header,
  .site-footer {
    @include theme(background, #92e1c0);
  }
}

.ico-clr-9fe1e7 {
  .social-media-links--platforms {
    a {
      @include theme(background, #9fe1e7);
    }
  }
}

.hdr-clr-9fe1e7 {
  .header,
  .site-footer {
    @include theme(background, #9fe1e7);
  }
}

.ico-clr-9fc6e7 {
  .social-media-links--platforms {
    a {
      @include theme(background, #9fc6e7);
    }
  }
}

.hdr-clr-9fc6e7 {
  .header,
  .site-footer {
    @include theme(background, #9fc6e7);
  }
}

.ico-clr-4986e7 {
  .social-media-links--platforms {
    a {
      @include theme(background, #4986e7)
    }
  }
}

.hdr-clr-4986e7 {
  .header,
  .site-footer {
    @include theme(background, #4986e7)
  }
}

.ico-clr-9a9cff {
  .social-media-links--platforms {
    a {
      @include theme(background, #9a9cff);
    }
  }
}

.hdr-clr-9a9cff {
  .header,
  .site-footer {
    @include theme(background, #9a9cff);
  }
}

.ico-clr-b99aff {
  .social-media-links--platforms {
    a {
      @include theme(background, #b99aff);
    }
  }
}

.hdr-clr-b99aff {
  .header,
  .site-footer {
    @include theme(background, #b99aff);
  }
}

.ico-clr-c2c2c2 {
  .social-media-links--platforms {
    a {
      @include theme(background, #c2c2c2);
    }
  }
}

.hdr-clr-c2c2c2 {
  .header,
  .site-footer {
    @include theme(background, #c2c2c2);
  }
}

.ico-clr-cabdbf {
  .social-media-links--platforms {
    a {
      @include theme(background, #cabdbf);
    }
  }
}

.hdr-clr-cabdbf {
  .header,
  .site-footer {
    @include theme(background, #cabdbf);
  }
}

.ico-clr-cca6ac {
  .social-media-links--platforms {
    a {
      @include theme(background, #cca6ac);
    }
  }
}

.hdr-clr-cca6ac {
  .header,
  .site-footer {
    @include theme(background, #cca6ac);
  }
}

.ico-clr-f691b2 {
  .social-media-links--platforms {
    a {
      @include theme(background, #f691b2);
    }
  }
}

.hdr-clr-f691b2 {
  .header,
  .site-footer {
    @include theme(background, #f691b2);
  }
}

.ico-clr-cd74e6 {
  .social-media-links--platforms {
    a {
      @include theme(background, #cd74e6);
    }
  }
}

.hdr-clr-cd74e6 {
  .header,
  .site-footer {
    @include theme(background, #cd74e6);
  }
}

.ico-clr-a47ae2 {
  .social-media-links--platforms {
    a {
      @include theme(background, #a47ae2);
    }
  }
}

.hdr-clr-a47ae2 {
  .header,
  .site-footer {
    @include theme(background, #a47ae2);
  }
}
