
{#
/**
 * @file asyncapi-ui-field-item.html.twig
 * Default theme implementation for Async API UI field items.
 *
 * Available variables:
 * - none
 *
 * @ingroup themeable
 */
#}
<div id="asyncapi"></div>
