# Example YAML to get you started quickly.
# Be aware that YAML has indentation based coping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "0.0.1"
  title: Covid19-Patient-DataBase API
  description: |
    This API is used to retrieve  create update and delete the covid19 patients records respectively.
basePath: "/v1/covid-db"
host:
  api.srijan.net:8443
tags:
- name: "Patient"

schemes:
  - https

# Describe your paths here
paths:
  # This is a path endpoint. 
  /patients:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      tags:
      - "Patient"
      description: Retrieves all patients who have been infected by covid19.
      produces:
      - "application/json"
      parameters:
       - name: city
         in: query
         description: The city from which the patient records must be retrieved.
         required: false
         type: string
       - name: district
         in: query
         description: The district from which the patient records must be retrieved.
         required: false
         type: string
       - name: state
         in: query
         description: The state from which the patient records must be retrieved.
         required: false
         type: string
       - name: status
         in: query
         description: The status of the patient whether Recovered or Hospitalized or Deceased.
         required: false
         type: string
       - name: nation
         in: query
         description: The status of the patient from particular nation.
         required: false
         type: string
       - name: gender
         in: query
         description: Patient gender.
         required: false
         type: string
       - name: transmissionType
         in: query
         description: The transmission type of covid19 whether local or import.
         required: false
         type: string
       - name: date
         in: query
         description: The date when the patient was reported. Format dd-mm-yyyy
         required: false
         type: string
       - name: age
         in: query
         description: The patient age.
         required: false
         type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: OK
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/getPatientsSuccessResponse'
        401:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Unauthorized
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Not Found
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ResourceNotFoundErrorResponse'
        429:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Too Many Requests
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/TooManyRequestErrorResponse'
    post:
      # Describe this verb here. Note: you can use markdown
      tags:
      - "Patient"
      description: Creates patient record who have been infected by covid19.
      produces:
      - "application/json"
      parameters:
        - name: patient
          in: body
          schema:
            type: object
            properties:
             name:
              type: string
             gender:
              type: string
             age:
              type: number
             location:
              type: object
              properties:
               city:
                type: string
               state:
                type: string
               district:
                type: string
               code:
                type: string
               nation:
                type: string
             status:
              type: string
             transmissionType:
              type: string
             date:
              type: string
          description: The state object containing the desired and reported data to update.
          required: true
      # Expected responses for this operation:
      responses:
        # Response code
        201:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Created
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/postPatientsSuccessResponse'
        401:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Unauthorized
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Not Found
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ResourceNotFoundErrorResponse'
        429:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Too Many Requests
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/TooManyRequestErrorResponse'
    
  /patients/{pid}:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      tags:
      - "Patient"
      description: Retrieves the particular patient record.
      produces:
      - "application/json"
      parameters:
       - name: pid
         in: path
         description: The patient id retreived in GET/patients call.
         required: true
         type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: OK
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/getPatientByIdSuccessResponse'
        401:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Unauthorized
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Not Found
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ResourceNotFoundErrorResponse'
        429:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Too Many Requests
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/TooManyRequestErrorResponse'
    patch:
      # Describe this verb here. Note: you can use markdown
      tags:
      - "Patient"
      description: Updates patient status who have been infected by covid19.
      produces:
      - "application/json"
      parameters:
        - name: pid
          in: path
          description: The patient id retreived in GET/patients call.
          required: true
          type: string
        - name: patient
          in: body
          schema:
            type: object
            properties:
             status:
              type: string
          description: The patient object containing the status data to update.
          required: true
      # Expected responses for this operation:
      responses:
        # Response code
        201:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Created
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/postPatientsSuccessResponse'
        401:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Unauthorized
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Not Found
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ResourceNotFoundErrorResponse'
        429:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Too Many Requests
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/TooManyRequestErrorResponse'
    delete:
      # Describe this verb here. Note: you can use markdown
      tags:
      - "Patient"
      description: Deletes patient record who have been infected by covid19.
      produces:
      - "application/json"
      parameters:
        - name: pid
          in: path
          description: The patient id retreived in GET/patients call.
          required: true
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        204:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: No Content
        401:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Unauthorized
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Not Found
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ResourceNotFoundErrorResponse'
        429:
          headers:
           Content-Type:
             type: string
             description: content-type application/json
          description: Too Many Requests
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/TooManyRequestErrorResponse'
    
definitions:
  getPatientsSuccessResponse:
   type: object
   example: {
     "patients":[{
  "pid": 87,
  "statePid": "KL-TV-R2",
  "status": "Recovered",
  "location": {
    "city": "Thiruvananthapuram",
    "district": "Thiruvananthapuram",
    "state": "Kerala",
    "code": "KL",
    "nation": "India",
  },
  "gender": “M”,
  "dateAnnounced": ""
}],
  "pagination": {
"page": 4,
"page_size": 10,
"patients": 100,
"next": "https://.../patients?page=5&page_size=10",
"prev": "https://.../patients?page=3&page_size=10"
}
}
  getPatientByIdSuccessResponse:
   type: object
   example: {
  "pid": 5,
  "statePid": "TS-P1",
  "status": "Recovered",
  "age": 24,
  "gender": "M",
  
  "contractedPatient": "",
  "location": {
    "city": "Hyderabad",
    "district": "Hyderabad",
    "state": "Telangana",
    "code": "TG",
    "nation": "India",
  },
  "transmissionType": "Imported",
  "dateAnnounced": "2020-02-02",
  "notes": "Travel history to Dubai, Singapore contact",
  "source": "www.abpnews.com",
  "cluster": "string"
}
  postPatientsSuccessResponse:
   type: object
   example: {
  "pid": 5,
  "status": "Recovered",
}
  ErrorResponse:
   type: object
   example: {
    "error_description": "The access token is missing",
    "error": "invalid_request"
}
  TooManyRequestErrorResponse:
   type: object
   properties:
    message:
      type: string
      example: "API rate limit exceeded"
  ResourceNotFoundErrorResponse:
   type: object
   properties:
    message:
      type: string
      example: "no Route matched with those values"
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: https://localhost/oauth2/token/
security:
 - OAuth2: []

