openapi: 3.0.0
info:
  title: ELX (D8) CMS REST API
  description: ELX (D8) CMS REST API
  version: "1.0"

servers:
  - url: http://elx3dev.eastus.cloudapp.azure.com
    description: DEV
  - url: https://api-uat-elx3.myelx.com
    description: UAT
  - url: https://api-elx3.myelx.com
    description: PROD
tags:
  - name: "Best Seller (Generic)"
    description: "Best Seller (Generic)"
    externalDocs:
      description: "Best Seller (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/pages/viewpage.action?pageId=327720853"
  - name: "Brand Story (Generic)"
    description: "Brand Story (Generic)"
    externalDocs:
      description: "Brand Story (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/pages/viewpage.action?pageId=327720856"
  - name: "Games (Generic)"
    description: "Games (Generic)"
    externalDocs:
      description: "Games (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/pages/viewpage.action?pageId=327727290"
  - name: "Homepage (Generic)"
    description: "Homepage (Generic)"
    externalDocs:
      description: "Homepage (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/pages/viewpage.action?pageId=327720629"
  - name: "Menu (Generic)"
    description: "Menu (Generic)"
    externalDocs:
      description: "Menu (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/pages/viewpage.action?pageId=327720813"
  - name: "Stories API (Generic)"
    description: "Stories API (Generic)"
    externalDocs:
      description: "Stories API (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Stories+API"
  - name: "Video API (Generic)"
    description: "Video API (Generic)"
    externalDocs:
      description: "Video API (Generic)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Video+API"
  - name: "Homepage (Proper)"
    description: "Homepage (Proper)"
    externalDocs:
      description: "Homepage (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/ELX+Proper+Homepage"
  - name: "Languages (Proper)"
    description: "Languages (Proper)"
    externalDocs:
      description: "Languages (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Languages"
  - name: "Learning Level (Proper)"
    description: "Learning Level API's (Proper)"
    externalDocs:
      description: "Learning Level (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Learning+Level+API%27s"
  - name: "Menu (Proper)"
    description: "Menu (Proper)"
    externalDocs:
      description: "Menu (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Menu"
  - name: "Products (Proper)"
    description: "Products (Proper)"
    externalDocs:
      description: "Products (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Products+API%27s"
  - name: "Quiz (Proper)"
    description: "Quiz (Proper)"
    externalDocs:
      description: "Quiz (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Quiz"
  - name: "Search (Proper)"
    description: "Search (Proper)"
    externalDocs:
      description: "Search (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Search"
  - name: "Stories (Proper)"
    description: "Stories (Proper)"
    externalDocs:
      description: "Stories (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Stories+API%27s"
  - name: "T&C API's (Proper)"
    description: "T&C API's (Proper)"
    externalDocs:
      description: "T&C API's (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/pages/viewpage.action?pageId=325848319"
  - name: "Tools API's (Proper)"
    description: "Tools API's (Proper)"
    externalDocs:
      description: "Tools API's (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Tools+API%27s"
  - name: "Users (Proper)"
    description: "Users (Proper)"
    externalDocs:
      description: "Users (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Users"
  - name: "Videos (Proper)"
    description: "Videos (Proper)"
    externalDocs:
      description: "Videos (Proper)"
      url: "https://esteelauder-confluence.codefactori.com/display/ELC30/Videos+API%27s"
paths:
  # Bestseller Carousel API
  /api/v1/productsCarousel:
    get:
      summary: "Products Carousel API"
      tags:
        - "Best Seller (Generic)"
        - "Products (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/productsCarousel'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Bestseller Categories API
  /api/v1/bestsellerCategories:
    get:
      summary: "Bestseller Categories API"
      tags:
        - "Best Seller (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/bestsellerCategories'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Best Seller Detail API
  /api/v1/bestSeller:
    get:
      summary: "Best Seller Detail API"
      tags:
        - "Best Seller (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/bestSellerDetail'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Bestseller Listing API
  /api/v1/bestSellerListing:
    get:
      summary: "Bestseller Listing API"
      tags:
        - "Best Seller (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/bestSellerListing'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Brand story Listing API
  /api/v1/brandStoryListing:
    get:
      summary: "Brand story Listing API"
      tags:
        - "Brand Story (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/brandStoryListing'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Brand Story Detail API
  /api/v1/brandStory:
    get:
      summary: "Brand Story Detail API"
      tags:
        - "Brand Story (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/brandStory'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Games Listings API
  /api/v1/gamesListing:
    get:
      summary: "Games Listings API"
      tags:
        - "Games (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: 'status'
          in: "query"
          description: "all or todo or completed default would be all"
          schema:
            type: "string"
      responses:
        '200':
          $ref: '#/components/responses/gamesListing'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Games Detail API
  /api/v1/games:
    get:
      summary: "Games Detail API"
      tags:
        - "Games (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/games'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Homepage - Bestseller (Generic)
  /api/v1/bestSellersSection:
    get:
      summary: "Homepage - Bestseller (Generic)"
      tags:
        - "Homepage (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/bestSellersSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Homepage - Games (Generic)
  /api/v1/gamesSection:
    get:
      summary: "Homepage - Games (Generic)"
      tags:
        - "Homepage (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/gamesSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Homepage -  How To (Videos) (Generic)
  /api/v1/howToSection:
    get:
      summary: "Homepage -  How To (Videos) (Generic)"
      tags:
        - "Homepage (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/howToSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Homepage -  Spotlight (Generic)
  /api/v1/genericSpotlightSection:
    get:
      summary: "Homepage -  Spotlight (Generic)"
      tags:
        - "Homepage (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/genericSpotlightSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Homepage -  Trending (Stories)
  /api/v1/trendingSection:
    get:
      summary: "Homepage -  Trending (Stories) (Generic)"
      tags:
        - "Homepage (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/trendingSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  # Primary Nav API (Generic)
  /api/v1/primaryNavigationMenuGeneric:
    get:
      summary: "Primary Nav API (Generic)"
      tags:
        - "Menu (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/PrimaryMenu'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Footer Nav API (Generic)
  /api/v1/footerMenuGeneric:
    get:
      summary: "Footer Nav (Generic)"
      tags:
        - "Menu (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsource'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/FooterMenu'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Stories Listing API (Generic)
  /api/v1/storiesListing:
    get:
      summary: "Stories Listing (Generic)"
      tags:
        - "Stories API (Generic)"
        - "Stories (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/storiesListing'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Story Details API (Generic)
  /api/v3/story:
    get:
      summary: "Stories Listing (Generic)"
      tags:
        - "Stories API (Generic)"
        - "Stories (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/story'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Videos Listing API (Generic)
  /api/v1/videoListings:
    get:
      summary: "Videos Listing API (Generic)"
      tags:
        - "Video API (Generic)"
        - "Videos (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/videoListings'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  ##Proper APIs Started here
  #Explore Browse Product (Proper)
  /api/v1/browseProductss:
    get:
      summary: "Explore Browse Product (Proper)"
      tags:
        - "Homepage (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/browseProductss'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Explore Learning Levels (Proper)
  /api/v1/exploreLearningLevelss:
    get:
      summary: "Explore Learning Levels (Proper)"
      tags:
        - "Homepage (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/exploreLearningLevelss'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Spotlight section (Proper)
  /api/v1/spotlightSection:
    get:
      summary: "Spotlight section (Proper)"
      tags:
        - "Homepage (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/spotlightSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #What's New & Trending (Proper)
  /api/v1/storiesTrendingSection:
    get:
      summary: "What's New & Trending (Proper)"
      tags:
        - "Homepage (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/storiesTrendingSection'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Language list (Proper)
  /api/v1/languageList:
    get:
      summary: "Language list  (Proper)"
      tags:
        - "Languages (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/languageList'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Language list by market (Proper)
  /api/v2/languages:
    get:
      summary: "Languages (Proper)"
      tags:
        - "Languages (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/marketId'
      responses:
        '200':
          $ref: '#/components/responses/languages'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Get string translation (Proper)
  /api/v1/translationKey:
    get:
      summary: "Get string translation (Proper)"
      tags:
        - "Languages (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/languageCode'
      responses:
        '200':
          $ref: '#/components/responses/stringTranslations'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Update user language (Proper)
  /api/v1/updateUserLanguage:
    post:
      summary: "Update user language API (Proper)"
      tags:
        - "Languages (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/languageUpdate'
      responses:
        '200':
          $ref: '#/components/schemas/statusMessage200'
        '204':
          description: "No Content Found"
        '400':
          $ref: '#/components/schemas/statusMessage400'
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Learning Level Listings (Proper)
  /api/v1/learningLevels:
    get:
      summary: "Learning Level Listings (Proper)"
      tags:
        - "Learning Level (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/levelStatus'
      responses:
        '200':
          $ref: '#/components/responses/learningLevels'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Level Interactive Module Detail Page (Proper)
  /api/v1/levelInteractiveContent:
    get:
      summary: "Level Interactive Module Detail Page (Proper)"
      tags:
        - "Learning Level (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/levelInteractiveContent'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Term List (Module listing) of level (Proper)
  /api/v1/levelInteractiveTermsContent:
    get:
      summary: "Term List (Module listing) of level (Proper)"
      tags:
        - "Learning Level (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          $ref: '#/components/responses/levelInteractiveTermsContent'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Footer Nav (Proper)
  /api/v1/footerMenu:
    get:
      summary: "Footer Nav (Proper)"
      tags:
        - "Menu (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/FooterMenu'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Primary Nav API (Proper)
  /api/v1/primaryNavigationMenu:
    get:
      summary: "Primary Nav API (Proper)"
      tags:
        - "Menu (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/primaryNavigationMenuV1'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Primary Nav API V2 (Proper)
  /api/v2/primaryNavigationMenu:
    get:
      summary: "Primary Nav API V2 (Proper)"
      tags:
        - "Menu (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/PrimaryMenu'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Top Header API (Proper)
  /api/v1/headerMenu:
    get:
      summary: "Top Header API (Proper)"
      tags:
        - "Menu (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/headerMenuV1'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Top Header API V2 (Proper)
  /api/v2/headerMenu:
    get:
      summary: "Top Header API V2 (Proper)"
      tags:
        - "Menu (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/headerMenu'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Product Categories API (Proper)
  /api/v1/productCategories:
    get:
      summary: "Product Categories API (Proper)"
      tags:
        - "Products (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          $ref: '#/components/responses/productCategories'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Product Detail API (Proper)
  /api/v1/productDetails:
    get:
      summary: "Product Detail API (Proper)"
      tags:
        - "Products (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/productDetails'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Product Listings API (Proper)
  /api/v1/productListings:
    get:
      summary: "Product Listings API (Proper)"
      tags:
        - "Products (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          $ref: '#/components/responses/productListings'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Badge API (Proper)
  /api/v1/getUserBadges:
    get:
      summary: "User Badge API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/getUserBadges'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Leaderboard Comparison Type (Proper)
  /api/v1/LeaderboardCompareType:
    get:
      summary: "User Leaderboard Comparison Type (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/LeaderboardCompareType'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User profile information (Proper)
  /api/v1/userDashboard:
    get:
      summary: "User profile information (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/userDashboard'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Add user points API (Proper)
  /api/v1/contentViewFlag:
    post:
      summary: "Add user points API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/contentViewFlag'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Forgot password API (Proper)
  /user/lost-passwords:
    post:
      summary: "Forgot password API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/mail'
      responses:
        '200':
          $ref: '#/components/responses/lostPasswords'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Refresh Token API (Proper)
  /oauth/token:
    post:
      summary: "Refresh Token API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refreshToken'
      responses:
        '200':
          $ref: '#/components/responses/refreshToken'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Flag API (Proper)
  /lm/api/v1/myFlags:
    get:
      summary: "User Flag API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/contentType'
      responses:
        '200':
          $ref: '#/components/responses/myFlags'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Reset password API (Proper)
  /user/lost-password-resets:
    post:
      summary: "Reset password API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/mail'
        - $ref: '#/components/parameters/temp_pass'
        - $ref: '#/components/parameters/new_pass'
      responses:
        '200':
          description: "Response for Reset password"
          content:
            application/json:
              schema:
                description: Reset password
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "Your New Password has been saved please log in."
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '406':
          description: "Response for Reset password"
          content:
            application/json:
              schema:
                description: Reset password
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "The password does not satisfy the password policies."
        '500':
          description: "Internal Server Error"
  #User Activity (Level Detail) API (Proper)
  /api/v1/userActivitiesLevel:
    get:
      summary: "User Activity (Level Detail) API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/categoryIdRequired'
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/userActivitiesLevel'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Activities GDD API (Proper)
  /lm/api/v2/globalActivity:
    get:
      summary: "User Activities GDD API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nidInArray'
      responses:
        '200':
          $ref: '#/components/responses/globalActivity'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Logout API (Proper)
  /api/v1/userLogout:
    post:
      summary: "User Logout API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: "Response for user logout"
          content:
            application/json:
              schema:
                description: user logout
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "The Token ID is revoked"
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Activities UDD (Proper)
  /lm/api/v2/userActivity:
    get:
      summary: "User Activities UDD (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nidInArray'
        - $ref: '#/components/parameters/level'
      responses:
        '200':
          $ref: '#/components/responses/userActivity'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Activity (Proper)
  /api/v1/userActivities:
    get:
      summary: "User Activity (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/userActivities'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Interest update (Proper)
  /api/v1/userInterest:
    post:
      summary: "User Interest update (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categoryIdInBody'
      responses:
        '200':
          description: "Response for user interest update"
          content:
            application/json:
              schema:
                description: user interest update
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "Interest updated."
                  status:
                    description: Status.
                    type: "boolean"
                    example: true
        '204':
          description: "No Content Found"
        '400':
          description: "Response for user interest update"
          content:
            application/json:
              schema:
                description: user interest update
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "(11,22) Invalid interest Id."
                  status:
                    description: Status.
                    type: "boolean"
                    example: false
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Password Edit/Update API (Proper)
  /api/v1/passwordChange:
    post:
      summary: "Password Edit/Update API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passwordChangeBodyParams'
      responses:
        '200':
          description: "Response for Password Edit/Update API"
          content:
            application/json:
              schema:
                description: Password Edit/Update API
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "Password updated."
                  status:
                    description: Status.
                    type: "boolean"
                    example: true
        '204':
          description: "No Content Found"
        '400':
          description: "Response for user interest update"
          content:
            application/json:
              schema:
                description: Password Edit/Update API
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "New Password should not be same as current password."
                  status:
                    description: Status.
                    type: "boolean"
                    example: false
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '406':
          description: "Response for user interest update"
          content:
            application/json:
              schema:
                description: Password Edit/Update API
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "The password does not satisfy the password policies."
                  status:
                    description: Status.
                    type: "boolean"
                    example: false
        '500':
          description: "Internal Server Error"
  #User profile rank API (Proper)
  /lm/api/v1/userProfileRank:
    get:
      summary: "User profile rank API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/userProfileRank'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #User Profile Pic Update API (Proper)
  /api/v1/user/profile/picture:
    post:
      summary: "User Profile Pic Update API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pictureParams'
      responses:
        '200':
          description: "Response for User Profile Pic Update"
          content:
            application/json:
              schema:
                description: User Profile Pic Update
                type: object
                properties:
                  image:
                    description: Image url.
                    type: "string"
                    example: "http://xyz.com/sites/default/files/userImage.jpg"
                  message:
                    description: Message.
                    type: "string"
                    example: "User profile picture updated successfully."
                  status:
                    description: Status.
                    type: "boolean"
                    example: true
        '204':
          description: "No Content Found"
        '400':
          description: "Response for User Profile Pic Update"
          content:
            application/json:
              schema:
                description: Password Edit/Update API
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "The data value cannot be empty."
                  status:
                    description: Status.
                    type: "boolean"
                    example: false
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '406':
          description: "Response for user interest update"
          content:
            application/json:
              schema:
                description: Password Edit/Update API
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "The password does not satisfy the password policies."
                  status:
                    description: Status.
                    type: "boolean"
                    example: false
        '500':
          description: "Internal Server Error"
  #User leaderBoard profile-page API (Proper)
  /lm/api/v1/userLeaderBoard:
    get:
      summary: "User leaderBoard profile-page API (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/compare'
      responses:
        '200':
          $ref: '#/components/responses/userLeaderBoard'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Password Policy Help Text (Proper)
  /api/v1/passwordPolicyHelpText:
    get:
      summary: "Password Policy Help Text (Proper)"
      tags:
        - "Users (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/passwordPolicyHelpText'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #API for video details (Proper)
  /api/v1/videoDetails:
    get:
      summary: "API for video details (Proper)"
      tags:
        - "Videos (Proper)"
        - "Video API (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
      responses:
        '200':
          $ref: '#/components/responses/videoDetails'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Videos Category API (Proper)
  /api/v1/videoCategory:
    get:
      summary: "Videos Category API (Proper)"
      tags:
        - "Videos (Proper)"
        - "Video API (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          $ref: '#/components/responses/videoCategory'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Videos Listing API [Mobile] (Proper)
  /api/v1/videoListingMobile:
    get:
      summary: "Videos Listing API [Mobile] (Proper)"
      tags:
        - "Videos (Proper)"
        - "Video API (Generic)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        - $ref: '#/components/parameters/requestsourceoptional'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/videoListingMobile'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #List Quiz API (Proper)
  /api/v1/quiz:
    get:
      summary: "List Quiz API (Proper)"
      tags:
        - "Quiz (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/quizId'
      responses:
        '200':
          $ref: '#/components/responses/quiz'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Quiz Submission API (Proper)
  /lm/api/v1/quiz:
    post:
      summary: "Quiz Submission API (Proper)"
      tags:
        - "Quiz (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/quizResponseParams'
      responses:
        '200':
          description: "Response for Password Edit/Update API"
          content:
            application/json:
              schema:
                description: Password Edit/Update API
                type: object
                properties:
                  message:
                    description: Message.
                    type: "string"
                    example: "Quiz Saved Successfully!"
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #TBD-UserActivities for Quiz API (Proper)
  /lm/api/v1/userQuizActivities:
    get:
      summary: "TBD-UserActivities for Quiz API (Proper)"
      tags:
        - "Quiz (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/quizId'
      responses:
        '200':
          $ref: '#/components/responses/userQuizActivities'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #AR Product Custom Table Data (Proper)
  /api/v1/arKeyValueData:
    get:
      summary: "AR Product Custom Table Data (Proper)"
      tags:
        - "Search (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/arKeyValueData'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #AR Product Search (Proper)
  /lm/api/v1/productSearch:
    get:
      summary: "AR Product Search (Proper)"
      tags:
        - "Search (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/searchTerm'
      responses:
        '200':
          $ref: '#/components/responses/productSearch'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Search API (Proper)
  /lm/api/v1/search:
    get:
      summary: "Search API (Proper)"
      tags:
        - "Search (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/searchTerm'
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/search'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Term & Condition Flag Update (Proper)
  /api/v1/userPolicyFlag:
    post:
      summary: "Term & Condition Flag Update (Proper)"
      tags:
        - "T&C API's (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPolicyFlagParams'
      responses:
        '200':
          description: "Response for Term & Condition Flag Update"
          content:
            application/json:
              schema:
                description: Term & Condition Flag Update
                type: object
                properties:
                  status:
                    description: Status.
                    type: "boolean"
                    example: true
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Terms & Conditions (anonymous) API (Proper)
  /api/v1/globalTermsAndCondition:
    get:
      summary: "Terms & Conditions (anonymous) API (Proper)"
      tags:
        - "T&C API's (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/userMail'
        - $ref: '#/components/parameters/clientId'
      responses:
        '200':
          $ref: '#/components/responses/globalTermsAndCondition'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Terms & Conditions and privacy policy (Proper)
  /api/v1/termsAndConditions:
    get:
      summary: "Terms & Conditions and privacy policy (Proper)"
      tags:
        - "T&C API's (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/globalTermsAndCondition'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Tools Category API (Proper)
  /api/v1/toolsCategory:
    get:
      summary: "Tools Category API (Proper)"
      tags:
        - "Tools API's (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          $ref: '#/components/responses/toolsCategory'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Tools Listing API (Proper)
  /api/v1/toolsListings:
    get:
      summary: "Tools Listing API (Proper)"
      tags:
        - "Tools API's (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/toolsListings'
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"
  #Set fav/bookmark/Download Count API (Proper)
  /lm/api/v1/flag:
    get:
      summary: "Set fav/bookmark/Download Count API (Proper)"
      parameters:
        # Header Parameters
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/contenttype'
        # Query Parameters
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/nid'
        - $ref: '#/components/parameters/flag'
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          description: "Response for Term & Condition Flag Update"
          content:
            application/json:
              schema:
                description: Term & Condition Flag Update
                type: object
                properties:
                  nid:
                    description: Content Id
                    type: integer
                    example: 123
                  favourites:
                    description: Favourites
                    type: integer
                    example: 100
                  bookmarks:
                    description: Bookmarks.
                    type: "integer"
                    example: 100
                  downloadCount:
                    description: Download Count.
                    type: "integer"
                    example: 100
                  status:
                    description: Status.
                    type: "boolean"
                    example: true
                  message:
                    description: Message.
                    type: "string"
                    example: "Flag successfully updated."
        '204':
          description: "No Content Found"
        '400':
          description: "Not Found"
        '401':
          description: "Bad Request"
        '403':
          description: "Forbidden"
        '404':
          description: "Not Found"
        '405':
          description: "Method Not Allowed."
        '500':
          description: "Internal Server Error"

components:
  parameters:
    authorization:
      name: Authorization
      in: header
      description: Authorization should be Bearer {{Oauth Token}}
      required: true
      schema:
        type: string
    contenttype:
      name: Content-Type
      in: header
      description: Content type should be application/json
      required: true
      schema:
        type: string
    contentType:
      name: Content Type
      in: query
      description: stories, product_detail etc default all
      schema:
        type: string
    type:
      name: type
      in: query
      description: name of content type default all
      schema:
        type: string
    requestsource:
      name: Request-Source
      in: header
      description: Request source should be generic
      required: true
      schema:
        type: string
    requestsourceoptional:
      name: Request-Source
      in: header
      description: Request source should be generic if generic data needed
      schema:
        type: string
    format:
      name: "_format"
      in: "query"
      description: "json"
      schema:
        type: "string"
    limit:
      name: "limit"
      in: "query"
      description: "integer"
      schema:
        type: "integer"
    offset:
      name: 'offset'
      in: "query"
      description: "integer"
      schema:
        type: "integer"
    compare:
      name: 'compare'
      in: "query"
      description: "default: world"
      schema:
        type: "string"
    nid:
      name: 'nid'
      in: "query"
      required: true
      description: "Node ID"
      schema:
        type: "integer"
    searchTerm:
      name: 'searchTerm'
      in: "query"
      required: true
      description: "scanned search term string"
      schema:
        type: "string"
    nidInArray:
      name: 'nid[]'
      in: "query"
      required: true
      description: "Node IDs"
      schema:
        type: "integer"
    mail:
      name: 'mail'
      in: "query"
      required: true
      description: "Mail Id"
      schema:
        type: "string"
    userMail:
      name: 'userMail'
      in: "query"
      required: true
      description: "Mail Id"
      schema:
        type: "string"
    temp_pass:
      name: 'temp_pass'
      in: "query"
      required: true
      description: "Temp Password"
      schema:
        type: "string"
    new_pass:
      name: 'new_pass'
      in: "query"
      required: true
      description: "New Password"
      schema:
        type: "string"
    categoryId:
      name: 'categoryId'
      in: "query"
      description: "Category ID"
      schema:
        type: "integer"
    categoryIdRequired:
      name: 'categoryId'
      in: "query"
      required: true
      description: "Category ID"
      schema:
        type: "integer"
    id:
      name: 'id'
      in: "query"
      required: true
      description: "ID"
      schema:
        type: "integer"
    quizId:
      name: 'quizId'
      in: "query"
      required: true
      description: "quizId"
      schema:
        type: "integer"
    marketId:
      name: 'marketId'
      in: "query"
      required: true
      description: "Market ID"
      schema:
        type: "integer"
    languageCode:
      name: 'languageCode'
      in: "query"
      required: true
      description: "Language Code"
      schema:
        type: "string"
    levelStatus:
      name: 'levelStatus'
      in: "query"
      required: true
      description: "all [all, progress, completed]"
      schema:
        type: "string"
    token:
      name: 'token'
      in: "query"
      required: true
      description: "access_token"
      schema:
        type: "string"
    clientId:
      name: 'clientId'
      in: "query"
      required: true
      description: "clientId"
      schema:
        type: "string"
    level:
      name: 'level'
      in: "query"
      description: "true/false (default value false)"
      schema:
        type: "string"
    flag:
      name: 'flag'
      in: "query"
      required: true
      description: "favorites or bookmarks or downloads"
      schema:
        type: "string"
    status:
      name: 'status'
      in: "query"
      required: true
      description: "1 or 0"
      schema:
        type: "string"
  responses:
    productsCarousel:
      description: "Response for product carousel"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/productsCarousel'
    bestsellerCategories:
      description: "Response for bestseller categories"
      content:
        application/json:
          schema:
            description: Tools listing
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/productCategories'
              pager:
                $ref: '#/components/schemas/pager'
    bestSellerDetail:
      description: "Response for best seller detail"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/bestSellerDetail'
    bestSellerListing:
      description: "Response for best seller listing"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListingResponse'
    brandStory:
      description: "Response for brand story detail"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/brandStory'
    brandStoryListing:
      description: "Response for brand story listing"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListingResponse'
    gamesListing:
      description: "Response for game listing"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gamesListing'
    games:
      description: "Response for game detail"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/games'
    storiesListing:
      description: "Response for stories listing"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListingResponse'
    story:
      description: "Response for story detail"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/story'
    bestSellersSection:
      description: "Response for home page bestseller section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListingResponseWithoutPager'
    gamesSection:
      description: "Response for home page games section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gamesListingWithoutPager'
    howToSection:
      description: "Response for home page How To (Videos) section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/howToSection'
    genericSpotlightSection:
      description: "Response for homepage spotlight section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericSpotlightSection'
    trendingSection:
      description: "Response for homepage Trending (Stories) section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/trendingSection'
    PrimaryMenu:
      description: Primary Navigation Menu
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PrimaryMenu'
    FooterMenu:
      description: "Response for footer menu"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FooterMenu'
    videoListings:
      description: "Response for video listing"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/videoListings'
    browseProductss:
      description: "Response for explore browse product"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/browseProducts'
    exploreLearningLevelss:
      description: "Response for explore learning levels"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exploreLearningLevelss'
    spotlightSection:
      description: "Response for spotlight section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/spotlightSection'
    storiesTrendingSection:
      description: "Response for stories trending section"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/browseProducts'
    languageList:
      description: "Response for langauge list"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/languageList'
    languages:
      description: "Response for langauge list"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/languages'
    stringTranslations:
      description: "Response for string translations"
      content:
        application/json:
          schema:
            description: Response for listing
            type: array
            items:
              $ref: '#/components/schemas/stringTranslations'
    levelInteractiveContent:
      description: "Response for level interactive content"
      content:
        application/json:
          schema:
            description: Response for listing
            type: object
            properties:
              nid:
                description: Content Id
                type: integer
                example: 123
              articulateFile:
                description: Articulate file url.
                type: "string"
                example: "http://xyz.com/sites/default/files/index.html"
              body:
                description: Body.
                type: "string"
                example: "<p>Body</p>"
              displayTitle:
                description: Display title.
                type: "string"
                example: "Display title"
              categoryName:
                description: Category Name.
                type: "string"
                example: "Category Name"
              pointValue:
                description: Point Value.
                type: "integer"
                example: 12
              categoryId:
                description: Category Id.
                type: "integer"
                example: 20793
              interactiveContentPrevious:
                description: Interactive Content Previous.
                type: "integer"
                example: 85800
              interactiveContentNext:
                description: Interactive Content Next.
                type: "integer"
                example: 85803
    learningLevels:
      description: "Response for learning levels"
      content:
        application/json:
          schema:
            description: Response for listing
            type: array
            items:
              $ref: '#/components/schemas/learningLevels'
            example:
              - categoryId: 1023
                imageLarge: http://xyz.com/sites/default/files/imageLarge_1.jpg
                imageMedium: http://xyz.com/sites/default/files/imageMedium_1.jpg
                imageSmall: http://xyz.com/sites/default/files/imageSmall_2.jpg
                title: Title 1
                subTitle: Sub Title 1
                pointValue: 23
              - categoryId: 1051
                imageLarge: http://xyz.com/sites/default/files/imageLarge_2.jpg
                imageMedium: http://xyz.com/sites/default/files/imageMedium_2.jpg
                imageSmall: http://xyz.com/sites/default/files/imageSmall_2.jpg
                title: Title 2
                subTitle: Sub Title 2
                pointValue: 26
              - categoryId: 5435
                imageLarge: http://xyz.com/sites/default/files/imageLarge_3.jpg
                imageMedium: http://xyz.com/sites/default/files/imageMedium_3.jpg
                imageSmall: http://xyz.com/sites/default/files/imageSmall_3.jpg
                title: Title 3
                subTitle: Sub Title 3
                pointValue: 14
    levelInteractiveTermsContent:
      description: "Response for level interactive terms content"
      content:
        application/json:
          schema:
            description: Response for listing
            type: array
            items:
              $ref: '#/components/schemas/levelInteractiveTermsContent'
    primaryNavigationMenuV1:
      description: "Response for primary nav API"
      content:
        application/json:
          schema:
            description: Primary Menu
            type: object
            properties:
              primaryNavigationMenu:
                type: array
                items:
                  properties:
                    sequenceId:
                      description: SequenceId
                      type: integer
                      example: 1
                    content:
                      description: Content
                      type: "string"
                      example: "home"
                    name:
                      description: Name
                      type: "string"
                      example: "Home"
                    URL:
                      description: URL
                      type: "string"
                      example: ""
                    type:
                      description: Type
                      type: "string"
                      example: "internal/external"
                    attributes:
                      description: Attributes
                      type: "string"
                      example: ""
    headerMenuV1:
      description: "Response for header menu API"
      content:
        application/json:
          schema:
            description: Header Menu
            type: object
            properties:
              userDetails:
                type: array
                items:
                  $ref: '#/components/schemas/headerMenuUserDetails'
              navData:
                type: array
                items:
                  properties:
                    sequenceId:
                      description: Sequence Id
                      type: "integer"
                      example: 1
                    content:
                      description: Content.
                      type: "string"
                      example: "leaderboard"
                    name:
                      description: Name
                      type: "string"
                      example: "LEADERBOARD"
    headerMenu:
      description: "Response for header menu API"
      content:
        application/json:
          schema:
            description: Header Menu
            type: object
            properties:
              userDetails:
                type: array
                items:
                  $ref: '#/components/schemas/headerMenuUserDetails'
              navData:
                type: array
                items:
                  $ref: '#/components/schemas/navData'
    productCategories:
      description: "Response for product category"
      content:
        application/json:
          schema:
            description: product category
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/productCategories'
              pager:
                $ref: '#/components/schemas/pager'
    productDetails:
      description: "Response for product details"
      content:
        application/json:
          schema:
            description: product category
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/productDetails'
              userActivity:
                type: array
                items:
                  $ref: '#/components/schemas/userActivityListing'
    productListings:
      description: "Response for product details"
      content:
        application/json:
          schema:
            description: product listing
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/ListingItem'
              pager:
                $ref: '#/components/schemas/pager'
              userActivity:
                type: array
                items:
                  $ref: '#/components/schemas/userActivityListing'
    globalTermsAndCondition:
      description: "Response for Terms And Condition"
      content:
        application/json:
          schema:
            description: Terms And Condition
            type: array
            items:
              $ref: '#/components/schemas/TermConditionList'
    toolsCategory:
      description: "Response for Tools category"
      content:
        application/json:
          schema:
            description: Tools category
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/videoCategoryListing'
                example:
                  - name: Name 1
                    categoryId: 19676
                  - name: Name 2
                    categoryId: 19657
                  - name: Name 3
                    categoryId: 19689
                  - name: Name 4
                    categoryId: 19682
              pager:
                $ref: '#/components/schemas/pager'
    toolsListings:
      description: "Response for Tools listing"
      content:
        application/json:
          schema:
            description: Tools listing
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/ToolsListingItem'
              pager:
                $ref: '#/components/schemas/pager'

    getUserBadges:
      description: "Response for user badges"
      content:
        application/json:
          schema:
            description: user badges
            type: object
            properties:
              allBadges:
                type: array
                items:
                  $ref: '#/components/schemas/badgesList'
              userActivity:
                type: array
                items:
                  $ref: '#/components/schemas/userActivityKeyStatus'
    LeaderboardCompareType:
      description: "Response for leader board compare type"
      content:
        application/json:
          schema:
            description: leader board compare type
            type: array
            items:
              properties:
                id:
                  description: Content Id
                  type: "integer"
                  example: 85840
                name:
                  description: Name.
                  type: "string"
                  example: "Name"
    userDashboard:
      description: "Response for user profile information"
      content:
        application/json:
          schema:
            description: user profile information
            type: array
            items:
              properties:
                name:
                  description: Name
                  type: "string"
                  example: "Name"
                role:
                  description: Role.
                  type: "string"
                  example: "Role"
                firstName:
                  description: First Name.
                  type: "string"
                  example: "Beverly"
                lastName:
                  description: Last Name.
                  type: "string"
                  example: "Doe"
                createdDate:
                  description: Created Date.
                  type: "integer"
                  example: 1533825709
                currentLanguageId:
                  description: Current Language Id.
                  type: "string"
                  example: "en"
                currentLanguageName:
                  description: Current Language Name.
                  type: "string"
                  example: "English"
                policyFlag:
                  description: Policy Flag.
                  type: "boolean"
                  example: false
                userPicture:
                  description: User picture url.
                  type: "string"
                  example: "http://xyz.com/sites/default/files/userPicture.jpg"
                markets:
                  type: array
                  items:
                    $ref: '#/components/schemas/userMarkets'
                regions:
                  type: array
                  items:
[...]
