{#
/**
 * @file
 */
#}

<div class="product-dashboard-navigation-main">
  <div class="product-dashboard-header">
      <div class="product-dashboard-title">{{ productTitle }} </div>
  </div>
     <div class="product-dashboard-children">
        {% for key, value in navigationData %}
          <p class="dashboard-menu-item">
            <a class="product-contents" href="{{ value.childPath }}">
              {{ key }}
            </a>
            <i>?</i><span> {{ value.childDescription }} </span>
          </p>
        {% endfor %}
      </div>
</div>
