{#
/**
 * @file
 */
#}
<div class="product-dashboard-navigation-main">
  <div class="product-dashboard-header">
      <div class="product-dashboard-title">{{ productTitle }} </div>
  </div>
     <div class="product-dashboard-children">
        {% for key, value in navigationData %}
          <p class="dashboard-menu-item"><a href="{{ value.childPath }}" class=" {{ value.childClass}}">
            {{ key }}
          </a>
          </p>
        {% endfor %}
      </div>
</div>
