{#
/**
 * @file
 */
#}
<div class="product-dashboard-navigation-main quick-tabs">
    {% for key, value in navigationData %}
      <span class="dashboard-menu-item">
        <a href="{{ value.childPath }}" class="{{ value.childClass }}">
          {{ key }}
        </a>
      </span>
    {% endfor %}
</div>
