.role-anonymous {
  .ui-dialog {
    border-radius: 5px;

    .node__title {
      display: none;
    }

    .ds-2col-stacked {
      width: 100%;
    }

    .group-header {
      @include media (null, $sm) {
        margin-bottom: 1rem;
      }
      background-color: $gray6;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 97px;
      padding: 11px;

      .block-field-blocknodeappsfield-products-image {
        height: 100%;
        padding-left: 0;
        width: 100px;
      }

      .block-field-blocknodeappstitle {
        @include font (16, bold);
        height: 100%;
        padding-left: 20px;
        width: 90%;
      }
    }

    .group-left {
      @include media (null, $sm) {
        padding: unset;
        width: 100%;
      }
      padding: 20px;
      width: 72%;

      .block-field-blocknodeappsfield-video {
        text-align: center;
      }
    }

    .group-right {
      @include media (null, $sm) {
        padding: unset;
        width: 100%;
      }
      padding: 20px;
      width: 28%;

      .block-field-blocknodeappsfield-app-url {
        h2 {
          @include font (14, 700);
          border-bottom: 1px solid $green;
          color: $blue1;
          display: inline-block;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.ui-dialog-titlebar {
  background: none;
  border: 0;
}

.ui-dialog-title {
  @include font (20, normal);
  color: $blue1;
  text-align: center;
}
