.ui-dialog {
  border-radius: 5px;

  .ui-dialog-titlebar {
    background: none;
    border: 0;
  }

  .ui-dialog-title {
    @include font (20, normal);
    color: $blue1;
    text-align: center;
  }
}
