.block-views-blockevents-upcoming-events {
  @include media (null, $md - 1) {
    margin-bottom: 20px;
    width: 100%;
  }

  background-color: $gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 $gray5 !important; // sass-lint:disable-line no-important
  height: 100%;
  padding: 20px;
  position: relative;
  width: 48%;

  h2 {
    @include font (24, normal);
    border-bottom: 2px solid $green;
    color: $blue1;
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    width: fit-content;

    &::after {
      @extend %awsome;

      @include font (32, normal);
      content: '\f274';
      position: absolute;
      right: 25px;
    }
  }

  .view-content {
    &.row {
      display: block;
      min-height: 338px;
    }
  }

  .views-row {
    border-bottom: 1px solid $gray2;
    padding: 10px 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  .view-all-event {
    margin: 20px 0;
    text-align: center;

    a {
      background-color: $blue1;
      border-radius: 30px;
      color: $white;
      display: inline-block;
      padding: 10px 30px;
    }
  }

  .upcoming-event {
    display: flex;
  }

  .other-details {
    div {
      padding-bottom: 5px;
    }
  }

  .listing-image {
    padding-right: 15px;
  }

  .view-empty {
    @include media (null, $md) {
      min-height: auto;
      padding: 20px 0;
    }
    min-height: 418px;
    padding: 20px 0 0;
  }

}

.bottom-blocks {
  @extend %custom-container;
  @include media (null, $md - 1) {
    display: unset;
  }

  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  padding: 0;
}

//upcoming event icon targeted mozilla only
@-moz-document url-prefix() {
  .block-views-blockevents-upcoming-events {
    h2 {
      display: table-cell;
    }
  }
}

//events page
.node--type-events {
  .col {
    padding-left: 0;
  }

  .group-right {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
    padding: 2%;

    .block {
      @include media (null, $sm) {
        margin-bottom: 15px !important; // sass-lint:disable-line no-important
      }
      margin-bottom: 10px !important; // sass-lint:disable-line no-important
    }

    .block-field-blocknodeeventstitle {
      @include media (null, $sm) {
        border-bottom: 0;
      }

      @include font (24, normal);
      color: $blue;
      display: block;
      margin: 0 auto;
      width: fit-content;

      span {
        border-bottom: 2px solid $green;
        padding-bottom: 10px;
      }
    }

    .block-field-blocknodeeventsfield-listing-image {
      @include media (null, $sm) {
        min-height: auto;
        width: 100%;
      }
      float: left;
      margin: 15px 15px 0 0;
      min-height: 150px;
      width: 25%;

      +.block-field-blocknodeeventsbody {
        @include media (null, $sm) {
          min-height: auto;
          width: 100%;
        }
        margin: 15px 0 0;
        min-height: 150px;
        width: 73%;
      }

      .field {
        margin-bottom: 0;
      }

      .field--type-image {
        float: unset;
        margin: 0;
        text-align: center;

        img {
          @include media (null, $sm) {
            height: auto;
            width: auto;
          }
          height: 150px;
          margin: 0;
          width: 100%;
        }
      }
    }

    .block-field-blocknodeeventsbody {
      @include media (null, $sm) {
        min-height: auto;
        width: 100%;
      }
      float: left;
      margin: 15px 0 0;
      min-height: auto;
      width: 100%;

      .field--name-body {
        margin: 0;
        word-break: break-word;
      }
    }

    .block-field-blocknodeeventsfield-event-types {
      float: left;
      width: 100%;

      .field__label {
        font-weight: 500;

        &::after {
          content: ':';
        }
      }
    }

    .block-field-blocknodeeventsfield-address-block {
      float: left;
      width: 100%;

      .field--name-field-address-block {
        margin-bottom: 0;
      }
    }

    .block-field-blocknodeeventsfield-start-date {
      @include media (null, $sm) {
        padding: 0;
        width: 100%;
      }
      float: left;
      padding: 1% 2% 0 0;
      width: 40%;

      .field {
        @include media (null, $sm) {
          margin-bottom: unset;
        }

        .field__label {
          &::after {
            content: ':';
          }
        }
      }

    }

    .block-field-blocknodeeventsfield-end-date {
      @include media (null, $sm) {
        padding: 0;
        width: 100%;
      }
      float: left;
      padding: 1% 2% 0 0;
      width: 40%;

      .field {
        @include media (null, $sm) {
          margin-bottom: unset;
        }

        .field__label {
          &::after {
            content: ':';
          }
        }
      }
    }

    .block-field-blocknodeeventsfield-event-url {
      float: left;
      width: 100%;
    }

    .block-field-blocknodeeventsfield-user-rating {
      @include media (null, $sm) {
        width: 100%;
      }

      float: left;
      margin-top: 8px;
      width: 40%;
    }

    .block-social-media {
      @include media (null, $sm) {
        width: 100%;
      }

      padding-top: 8px;
    }

    .block-field-blocknodeeventscomment {
      @include media (null, $sm) {
        margin-top: 0;
      }
      margin-top: 50px;

      .field--type-comment {
        @include media (null, $sm) {
          margin-top: 0;
        }
      }
    }

    .block-field-blocknodeeventsfield-tags {
      float: left;
      width: 100%;
    }
  }

  .book-navigation {
    @include media (null, $sm) {
      margin-left: auto;
      width: 100%;
    }

    margin-left: 20%;
    width: 80%;
  }
}
