.page-view-forum {
  .nav-tabs {
    @include media ($lg, null) {
      margin: 0 auto;
      max-width: 1140px;
    }

    border-bottom: 0;

    li {
      a {
        color: $blue1;
        font-weight: 600;
        margin: 0 16px;
        padding: 8px 0;

        &:hover { // sass-lint:disable-line nesting-depth
          border-color: transparent;
        }
      }

      &.active {
        a { // sass-lint:disable-line nesting-depth
          border-bottom: 2px solid $green !important; // sass-lint:disable-line no-important
          border-color: transparent;
          color: $blue1;
        }
      }

      &:first-child {
        a { // sass-lint:disable-line nesting-depth
          margin-left: 0;
        }
      }
    }
  }

  .view-forum {
    @include media ($lg, null) {
      margin: 0 auto;
      max-width: 1140px;
    }

    .views-row {
      border-bottom: 1px solid $gray2;
      display: flex;
      padding: 25px 0;
      width: 100%;

      .views-field-title {
        width: calc(100% - 220px);
      }

      .views-field-comment-count {
        text-align: right;
        width: 120px;
      }
    }

    .views-field-user-picture {
      width: 100px;

      img {
        border: 1px solid $gray2;
        border-radius: 50%;
      }
    }

    .view-header {
      padding-bottom: 40px;
      padding-top: 20px;

      a {
        border: 1px solid $green;
        border-radius: 5px;
        color: $blue1;
        font-weight: 600;
        padding: 10px;
      }
    }

    .views-exposed-form {
      input {
        border: 1px solid $green;
      }
    }

    .view-content {
      &.row {
        .views-form {
          form {
            .form-control { // sass-lint:disable-line nesting-depth
              + div { // sass-lint:disable-line nesting-depth
                &[id='edit-actions--2'] { // sass-lint:disable-line nesting-depth
                  @extend %none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.forum-content {
  .forum-title,
  .product {
    a {
      color: $green;
    }
  }
}

.node--type-forum {
  article {
    @include media ($sm, null) {
      max-width: 60%;
    }

    &.node--type-forum {
      max-width: 100%;
    }

    &.comment {
      max-width: 100%;
    }
  }

  .comment-wrapper {
    + .inline__links {
      @extend %none;
    }
  }
}


.block-developer-portal-forum,
.block-views-blockuser-points-default-totals-block-1 {
  background-color: $gray;
  border: 0 !important; // sass-lint:disable-line no-important
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 $gray5 !important; // sass-lint:disable-line no-important

  h2 {
    border-bottom: 0;
    color: $green;
    font-weight: 500;
  }
}

.block-views-blockuser-points-default-totals-block-1 {
  tr {
    border-bottom: 0;
  }

  .views-field-field-userpoints-default-points {
    @include font (14, normal);
    background: $gray;
    border: 0;
    color: $gray2;
    font-weight: 500;
    padding: 0;

    i {
      color: $green;
      height: 50px;
      padding-right: 20px;
      text-align: center;
      width: 50px;
    }
  }

  .table-responsive {
    padding-left: 0;
  }
}

.top-tags-wrapper {
  min-height: 60px;
  padding-top: 5px;

  .tags {
    color: $gray2;
    font-weight: 500;
    padding-right: 20px;
  }
}

.forum-stats-wrapper {
  padding-top: 5px;

  i {
    color: $green;
    font-weight: normal;
    height: 50px;
    padding-right: 20px;
    text-align: center;
    width: 50px;
  }

  div {
    color: $gray2;
    font-weight: 500;
  }
}

.block-views-blockforum-latest-qna {
  @include media (null, $md - 1) {
    width: 100%;
  }
  background-color: $gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 $gray5 !important; // sass-lint:disable-line no-important
  height: 100%;
  padding: 20px;
  position: relative;
  width: 48%;

  h2 {
    @include font (24, normal);
    border-bottom: 2px solid $green;
    color: $blue1;
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    width: fit-content;

    &::after {
      @extend %awsome;
      @include font (32, normal);
      content: '\f059';
      position: absolute;
      right: 25px;
    }
  }

  .view-content {
    &.row {
      display: block;
      min-height: 338px;
    }
  }

  .views-row {
    border-bottom: 1px solid $gray2;
    padding: 15px 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  .views-field-title,
  .other-details {
    padding-bottom: 5px;
  }

  .view-all-forum {
    margin: 20px 0;
    text-align: center;

    a {
      background-color: $blue1;
      border-radius: 30px;
      color: $white;
      display: inline-block;
      padding: 10px 30px;
    }
  }

  .view-empty {
    @include media (null, $md) {
      min-height: auto;
      padding: 20px 0;
    }
    min-height: 418px;
    padding: 20px 0 0;
  }

}

//q&a section icon targeted mozilla only
@-moz-document url-prefix() {
  .block-views-blockforum-latest-qna {
    h2 {
      display: table-cell;
    }
  }
}
