// Listing block
.view-id-content_listing_block {
  padding-bottom: 20px;

  .view-content {
    @include media (null, $sm) {
      padding: 0;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 15px;
  }

  .views-row {
    @include media ($xs, null) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include media ($sm, null) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include media ($md, null) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
  }

  .views-field-nothing {
    @extend %shadow;
    background-color: $gray;
    border-radius: 4px;
    height: 100%;

    .field-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 70px;
      position: relative;

      div {
        padding: 0 20px;

        &:first-child {
          padding: 0;
        }
      }
    }
  }

  .title {
    @include font (18, normal);
    color: $blue1;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    word-break: break-word;
  }

  .body {
    margin-bottom: 20px;
    text-align: center;
    word-break: break-word;

    ol,
    ul {
      text-align: left;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .link-wrapper {
    bottom: 0;
    margin-bottom: 20px;
    margin-top: auto;
    position: absolute;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include font(14, 500);
      display: inline-block;
      text-decoration: none;
    }
  }

  &.view-display-id-faq_block {
    .views-row {
      flex: auto;
      max-width: 100%;

      .views-field-body {
        border-bottom: 1px solid $green;
        color: $blue;
        cursor: pointer;
        padding: 10px 25px;
        position: relative;
        text-transform: uppercase;

        &::before {
          @include font (34, normal);
          color: $green;
          content: '+';
          left: 0;
          line-height: .6;
          position: absolute;
        }

        &.open {
          &::before {
            content: '_';
            top: -3px;
          }
        }
      }

      .views-field-field-answer {
        height: 0;
        overflow: hidden;
        transition: height ease-in-out .2s;
        visibility: hidden;

        &.open {
          height: calc(100% - 40px);
          visibility: visible;
        }

        .field-content {
          padding: 10px 25px;
        }
      }

      .views-field {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.node--type-api-product {
  &.node--view-mode-full {
    @extend %custom-container;

    .block-product-banner-block {
      h2 {
        @extend %none;
      }
    }

    .support-block {
      .group-left,
      .group-right {
        margin-top: 0;
      }
    }

    .ds-1col {
      .banner-wrapper {
        margin-bottom: -15px;
      }
    }
  }

  .node--view-mode-left-nav-full-view {

    .block-field-blocknodeapi-productfield-banners-image {
      left: 50%;
      margin-left: -50vw;
      margin-top: -20px;
      padding: 0;
      position: relative;
      text-align: center;
      width: 100vw;

      img {
        margin-bottom: 0;
        width: 100%;
      }
    }

    header {
      .node__title {
        @extend %none;
      }
    }

    .ds-2col {
      display: flex;
      flex-flow: row wrap;

      &.support-block {
        .group-left {
          position: initial;
          width: initial;
        }
      }

      .group-left {
        @include media (null, $sm - 1) {
          flex: 0 0 100%;
          margin-bottom: 30px;
          margin-right: 0;
          width: 100%;
        }

        background: $gray;
        flex: 0 0 20%;
        float: none;
        margin-right: 15px;
        padding: 25px 20px 30px;
        width: auto;

        .product-dashboard-navigation-main {

          &::before {
            @extend %awsome;
            content: '\f0c9';
            float: left;
            margin: 2px 5px 0 0;
          }

          .product-dashboard-title {
            @include font (18, bold);
            border: 0;
            color: $black1;
            margin: 0 0 15px 15px;
            text-shadow: none;
            word-break: break-all;
          }

          .product-dashboard-children {
            padding-left: 15px;
          }

          .dashboard-menu-item {
            @include media (null, $sm - 1) {
              width: 100%;
            }

            margin-bottom: 0;
            padding-left: 20px;

            a {
              @include font (14, normal);
              color: $black1;

              &.active {
                font-weight: bold;

                &::before {
                  background: $green;
                  content: '';
                  display: block;
                  height: 20px;
                  left: 0;
                  position: absolute;
                  width: 6px;
                }
              }
            }
          }
        }

        .field--type-fivestar {
          .field__label {
            @extend %none;
          }
        }

        + .group-right {
          @include media (null, $sm - 1) {
            flex: 0 0 100%;
            margin-top: 20px;
          }

          flex: 0 0 78%;
          float: none;
          width: auto;

          .view-id-content_listing_block {

            .views-row {
              .link-wrapper {
                margin-top: 20px;
              }
            }

            h2 {
              border-bottom: 2px solid $green;
              color: $blue1;
              margin: 0 auto 20px;
              padding-bottom: 10px;
              width: fit-content;
            }

            .row {
              + .view-footer {
                text-align: center;

                a {
                  background-color: $blue1;
                  border-radius: 30px;
                  color: $white;
                  display: inline-block;
                  padding: 15px 50px;
                }
              }
            }
          }

          .block {
            clear: both;
            margin-bottom: 45px;

            .field--name-title {
              @include font (24, normal);
              border-bottom: 2px solid $green;
              color: $blue;
              display: block;
              margin: 0 auto;
              padding-bottom: 10px;
              width: fit-content;
            }
          }
        }
      }

      .group-right {
        @include media (null, $sm - 1) {
          margin-top: 20px;
        }

        flex: 0 0 100%;
        float: none;
        width: auto;
      }
    }
  }
}

.support-block {
  left: -50.5vw;
  margin-left: 50%;
  position: relative;
  width: 100vw;

  .group-left {

    @include media (null, $sm) {
      border-bottom: 0 solid $blue;
      border-left: 0 solid $blue;
      height: auto;
    }

    background: none !important; // sass-lint:disable-line no-important
    border-bottom: 1px solid $blue;
    border-left: 1px solid $blue;
    display: flex;
    flex: 1 !important; // sass-lint:disable-line no-important
    flex-flow: row wrap;
    height: 207px;
    justify-content: center;
    margin-right: 0 !important; // sass-lint:disable-line no-important
    margin-top: -45px;
    padding: 10px 0 0 !important; // sass-lint:disable-line no-important

    .field--type-fivestar {
      .field__label {
        @extend %none;
      }
    }

    .block-field-blocknodeapi-productfield-user-rating {

      @include media (null, $sm) {
        margin: 8px auto auto;
        text-align: center;
      }

      margin: 8px 32px 2px 34px;
      order: 2;

      .total-votes {
        display: none;
      }

    }

    .block-field-blocknodeapi-productfield-product-attributes {
      border-bottom: 1px solid $gray2;
      margin-bottom: 10px;
      margin-left: 25px;
      margin-right: 25px;
      order: 1;
      padding-bottom: 15px;
      width: 100%;

      .field {
        @include media (null, $sm - 1) {
          flex-flow: column;
        }

        display: flex;
        justify-content: center;

        > .field__item {
          @include media (null, $sm - 1) {
            width: 100%;
          }

          padding-top: 15px;
          position: relative;
          text-align: center;
          width: 33.33%;

          + .field__item {
            &::before { // sass-lint:disable-line nesting-depth
              @include media (null, $sm - 1) {
                display: none;
              }

              background: $gray2;
              content: '';
              display: block;
              height: 75px;
              position: absolute;
              top: 20px;
              width: 1px;
            }
          }
        }
      }

      .para-body {
        display: flex;
        flex-flow: column;

        span {
          &:nth-child(1) {
            @include font (12, normal);
            padding-top: 15px;
          }

          &:nth-child(2) {
            @include font (34, normal);
          }
        }
      }
    }

    .block-social-sharing-block {
      @include media (null, $sm - 1) {
        width: 100%;
      }

      order: 3;
      padding-top: 10px;
      text-align: center;
      width: 36%;
    }

    .block-openapidevx-subscription-block {
      @include media (null, $sm) {
        width: 100%;
      }

      margin: 8px 0 0;
      order: 4;
      text-align: center;
      width: 18%;
    }

  }

  .group-right {
    @include media (null, $sm - 1) {
      margin-top: 0;
    }

    flex: 1 !important; // sass-lint:disable-line no-important
    margin-top: -45px;
  }
}

.node--view-mode-full {
  .ds-1col {
    .field--name-field-images {

      @include media (null, $sm) {
        max-height: auto;
        text-align: center;
      }

      max-height: 218px;
    }
  }
}

.cta-wrapper {
  background-color: $blue2;
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  position: relative;
  width: 100%;

  .cta-inner {
    color: $white;
    text-align: center;
    width: 50%;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include font(14, 500);
      background: none;
      border: 1px solid $white;
      color: $white;
      display: inline-block;
      text-decoration: none;

      &:hover {
        border: 1px solid $gray3;
      }
    }

    .cta-description {
      margin: 15px 0;
    }

    &:last-child {
      &::before {
        background: $white;
        content: '';
        display: block;
        height: calc(100% - 40px);
        position: absolute;
        top: 20px;
        width: 1px;
      }
    }
  }
}

.node--type-use-cases,
.node--type-document-overview,
.node--type-issues,
.node--type-events,
.node--type-solutions,
.node--type-article,
.node--type-resources,
.node--type-tutorials,
.node--type-assets {
  .ds-2col {
    display: flex;
    flex-flow: row wrap;
    min-height: calc(100vmin - 30vh);

    &.support-block {
      .group-left {
        position: initial;
        width: initial;
      }
    }

    .group-left {
      @include media (null, $sm - 1) {
        flex: 0 0 100%;
        margin-bottom: 30px;
        margin-right: 0;
        width: 100%;
      }

      background: $gray;
      flex: 0 0 20%;
      float: none;
      margin-right: 15px;
      padding: 25px 20px 30px;
      width: auto;

      .product-dashboard-navigation-main {

        &::before { // sass-lint:disable-line nesting-depth
          @extend %awsome;
          content: '\f0c9';
          float: left;
          margin: 5px 5px 0 0;
        }

        .product-dashboard-title {
          @include font (18, bold);
          border: 0;
          color: $black1;
          margin: 0 0 15px 15px;
          text-shadow: none;
          word-break: break-all;
        }

        .product-dashboard-children {
          padding-left: 15px;
        }

        .dashboard-menu-item {
          @include media (null, $sm - 1) {
            width: 100%;
          }

          margin-bottom: 0;
          padding-left: 20px;

          a {
            @include font (14, normal);
            color: $black1;

            &.active {
              font-weight: bold;

              &::before {
                background: $green;
                content: '';
                display: block;
                height: 20px;
                left: 0;
                position: absolute;
                width: 6px;
              }
            }
          }
        }
      }

      .field--type-fivestar {
        .field__label {
          @extend %none;
        }
      }

      + .group-right {
        @include media (null, $sm - 1) {
          flex: 0 0 100%;
          width: 100%;
        }

        flex: 0 0 78%;
        float: none;
        padding-bottom: 40px;
        width: auto;

        .view-id-content_listing_block {
          .views-row {
            .link-wrapper {
              margin-top: 20px;
            }
          }

          h2 {
            border-bottom: 2px solid $green;
            color: $blue1;
            margin: 0 auto 20px;
            padding-bottom: 10px;
            width: fit-content;
          }

          .row {
            + .view-footer {
              text-align: center;

              a {
                background-color: $blue1;
                border-radius: 30px;
                color: $white;
                display: inline-block;
                padding: 15px 50px;
              }
            }
          }
        }

        .block {
          margin-bottom: 45px;

          .field--name-title {
            @include font (24, normal);
            border-bottom: 2px solid $green;
            color: $blue;
            display: block;
            margin: 0 auto;
            padding-bottom: 10px;
            width: fit-content;
          }
        }
      }
    }

    .group-right {
      @include media (null, $sm - 1) {
        width: 100%;
      }

      flex: 0 0 100%;
      float: none;
      width: auto;

      + .book-navigation {

        @include media (null, $sm - 1) {
          float: left;
          margin-top: 0;
          padding-left: 0;
          width: 100%;
        }

        float: right;
        margin-top: -34px;
        padding-left: 15px;
        width: 80%;

        .menu {
          @extend %none;
        }

        li {
          &.book-pager__item--center {
            @extend %none;
          }
        }
      }
    }
  }
}

.node--type-listing-pages {
  &[about='/use-cases'] {
    .block {
      margin-bottom: 45px;

      h2 {
        border-bottom: 2px solid $green;
        color: $blue1;
        margin: 0 auto 20px;
        padding-bottom: 10px;
        width: fit-content;
      }

      .row {
        + .view-footer {
          text-align: center;
        }

        a {
          background-color: $blue1;
          border-radius: 30px;
          color: $white;
          display: inline-block;
          padding: 15px 50px;
        }
      }
    }
  }
}

.ds-2col {
  > .group-left,
  > .group-right {
    @include media (null, $sm - 1) {
      width: 100%;
    }
  }
}

.block-field-blocknodeapi-productfield-feature-label {
  @include font (24, normal);
  color: $green;
  margin-top: 30px;
  text-align: center;
}

.block-field-blocknodeapi-productfield-key-features {
  .field--name-field-key-features {
    @include media (null, $sm - 1) {
      flex-flow: column;
    }

    display: flex;

    > .field__item {
      @include media (null, $sm - 1) {
        margin-bottom: 15px;
        padding: 0;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      padding: 0 15px;
      text-align: center;
      width: 33.33%;
    }
  }

  .paragraph {
    font-size: 1rem;
  }
}

.block-book {
  h2 {
    @include font (22, 700);
    border: 0;
    color: $black1;
    margin-bottom: 15px;
    text-shadow: none;

    &::before {
      @extend %awsome;
      content: '\f02d';
      margin-right: 12px;
    }
  }

  ul {
    list-style-type: none;

    a {
      color: $black;
      display: block;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    > .menu-item--expanded {
      > a {
        padding-right: 20px;
      }

      ul {
        li {
          padding-left: 15px;
        }
      }
    }

    .menu-item {
      &.menu-item--active-trail {
        a {
          font-weight: bold;

          &::before {
            background: $green;
            content: '';
            display: block;
            height: 20px;
            left: 0;
            position: absolute;
            width: 6px;
          }
        }

        ul {
          li {
            a {
              font-weight: normal;

              &::before { // sass-lint:disable-line nesting-depth
                @extend %none;
              }
            }
          }
        }
      }
    }
  }

  .book-block-menu {
    padding-left: 30px;
  }
}

.book-navigation {
  a {
    color: $black;
  }
}

.page-node-617 {
  .book-navigation {

    @include media (null, $sm - 1) {
      float: left;
      margin-left: 0;
      margin-top: 0;
      padding-left: 0;
      width: 100%;
    }

    float: right;
    margin-left: 20%;
    margin-top: -34px;
    padding-left: 15px;
    width: 80%;
  }
}

//faq page css
.view-display-id-page_1 {
  .views-row {
    flex: auto;
    max-width: 100%;

    .views-field-body {
      border-bottom: 1px solid $green;
      color: $blue;
      cursor: pointer;
      padding: 10px 25px;
      position: relative;
      text-transform: uppercase;

      &::before {
        @include font (34, normal);
        color: $green;
        content: '+';
        left: 0;
        line-height: .6;
        position: absolute;
      }

      &.open {
        &::before {
          content: '_';
          top: -3px;
        }
      }
    }

    .views-field-field-answer {
      height: 0;
      overflow: hidden;
      transition: height ease-in-out .2s;
      visibility: hidden;

      &.open {
        height: calc(100% - 40px);
        visibility: visible;
      }

      .field-content {
        padding: 10px 25px;
      }
    }

    .views-field {
      p {
        margin-bottom: 0;
      }
    }
  }
}

.ds-3col,
.ds-3col-equal {
  display: flex;
  flex-flow: row wrap;
  min-height: calc(100vmin - 30vh);

  .group-left {
    @include media (null, $sm - 1) {
      flex: 0 0 100%;
      margin-bottom: 30px;
      margin-right: 0;
      width: 100%;
    }

    float: none;
    left: 0;
    margin-top: 25px;
    position: absolute;
    width: 0;
    z-index: 1;

    &.open-menu {
      @include media (null, $sm - 1) {
        width: 100%;
      }

      width: 20%;

      .block-product-navigation-block {
        > h2 {  // sass-lint:disable-line nesting-depth
          + .content {  // sass-lint:disable-line nesting-depth
            height: calc(100vh - 200px);
            opacity: 1;
            padding: 15px 20px 30px;
            visibility: visible;
            width: 100%;
          }
        }
      }
    }

    .block-product-navigation-block {
      > h2 {
        background: $green;
        border-radius: 25px;
        color: $white;
        cursor: pointer;
        font-size: 0;
        left: 0;
        padding: 13px 13px 8px;
        position: absolute;
        z-index: 1;

        &::before { // sass-lint:disable-line nesting-depth
          @extend %awsome;
          @include font (25, normal);
          content: '\f03a';
        }

        + .content {  // sass-lint:disable-line nesting-depth
          background: $green;
          border-radius: 30px 0 0;
          height: 0;
          margin-left: 0;
          opacity: 0;
          transition: all .5s; // sass-lint:disable-line no-transition-all
          visibility: hidden;
          width: 0;
        }

        ~ h2 {  // sass-lint:disable-line nesting-depth
          @extend %none;
        }
      }
    }

    .product-dashboard-navigation-main {
      .product-dashboard-header {
        .product-dashboard-title {  // sass-lint:disable-line nesting-depth
          @include font (22, bold);
          border: 0;
          color: $white;
          margin-bottom: 15px;
          padding-left: 30px;
          text-shadow: none;
        }
      }

      .product-dashboard-children {
        padding-left: 15px;
      }

      .dashboard-menu-item {
        @include media (null, $sm - 1) {
          width: 100%;
        }

        margin-bottom: 0;
        padding-left: 20px;

        a {
          @include font (14, normal);
          color: $white;

          &.active {  // sass-lint:disable-line nesting-depth
            font-weight: bold;

            &::before { // sass-lint:disable-line nesting-depth
              background: $green;
              content: '';
              display: block;
              height: 20px;
              left: 0;
              position: absolute;
              width: 6px;
            }
          }
        }
      }
    }

    + .group-right {
      flex: 0 0 100%;
    }
  }

  .group-middle {
    @include media (null, $sm - 1) {
      flex: 0 0 100%;
      margin-bottom: 30px;
      margin-right: 0;
      margin-top: auto;
      width: 100%;
    }

    background: $gray;
    flex: 0 0 20%;
    float: none;
    margin-right: 15px;
    margin-top: 88px;
    padding: 25px 20px 30px;
    width: auto;
  }

  .group-right {
    @include media (null, $sm - 1) {
      flex: 0 0 100%;
      margin-bottom: 0;
    }

    flex: 0 0 78%;
    margin-bottom: 40px;
    width: auto;

    &.cover-full {
      flex: 0 0 100%;
      margin-bottom: 0;
    }

    .block-field-blocknodedocument-overviewfield-description {
      width: 100%;
    }

    .fivestar-form-item {
      @include media (null, $sm - 1) {
        margin: 20px 0 0 45px;
      }

      .total-votes {
        display: none;
      }
    }

    .social-media-sharing {
      @include media (null, $sm - 1) {
        text-align: center;
      }
    }

    + .book-navigation {

      @include media (null, $sm - 1) {
        float: left;
        margin-top: 0;
        padding-left: 0;
        width: 100%;
      }

      float: right;
      margin-top: -34px;
      padding-left: 15px;
      width: 80%;

      .menu {
        @extend %none;
      }

      li {
        &.book-pager__item--center {
          @extend %none;
        }
      }
    }
  }

  .block-field-blocknodedocument-overviewcomment {
    margin-bottom: 50px;
  }
}

.para-wrapper {
  .para-body {
    table {
      width: 100% !important; // sass-lint:disable-line no-important
    }
  }
}

//tutorial page
.node--type-tutorials {
  .layout-main-wrapper {
    margin-top: 15px;

    h1 {
      margin-top: 20px;
    }

    .block-field-blocknodetutorialsfield-tags {
      display: flex;
      width: 100%;

      .content {
        .field--name-field-tags {
          margin: 0 0 2em;
        }
      }
    }

  }
}

.node--type-use-cases {
  .block {
    margin-bottom: 25px;
  }
}

.block-field-blocknodesolutionsbody {
  p {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
    padding: 2.5%;
  }
}

.block-field-blocknodetutorialsbody {
  p {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
    padding: 2.5%;
  }
}

//listing block
.block-inline-blockapi-listing-block {
  text-align: center;

  h2 {
    @include media (null, $sm) {
      width: 70%;
    }

    border-bottom: 2px solid $green;
    color: $blue1;
    margin: 50px auto;
    padding: 40px 0 10px;
    width: 17%;
  }

  .views-element-container {
    .view-content {
      .views-row {
        @include media (null, $sm) {
          flex: 0 0 100%;
          max-width: 100%;
        }

        flex: 0 0 28.333333%;
        max-width: 28.333333%;
      }
    }

    .view-footer {
      a {
        background-color: $blue1;
        border-radius: 30px;
        color: $white;
        display: inline-block;
        padding: 12px 30px;
      }
    }
  }
}

.node--type-solutions {
  .group-right {
    .alignright {
      display: flow-root;
    }
  }
}

.node--type-document-overview {
  .book-navigation {
    @include media (null, $sm) {
      margin-left: auto;
      width: 100%;
    }

    float: right;
    margin-left: 20%;
    margin-top: -38px;
    width: 80%;

    >.menu {
      @extend %none;
    }
  }

  .block-field-blocknodedocument-overviewfield-tags {
    margin-bottom: 10px !important; // sass-lint:disable-line no-important

    .field--name-field-tags {
      float: left;
      width: 100%;
    }
  }
}
