.page-view-content-listing-pages {
  .row-offcanvas {
    @include media (null, $md - 1) {
      flex-direction: column;
    }
  }
}

// Listing pages
.view-display-id-page_assets_listing,
.view-display-id-page_article_listing,
.view-display-id-page_overview_listing,
.view-display-id-page_resources_listing,
.view-display-id-page_solution_listing,
.view-display-id-page_tutorial_listing,
.view-display-id-page_use_cases_listing,
.view-display-id-page_events_listing,
.view-display-id-page_issues_listing {
  .view-content {
    @include media (null, $sm - 1) {
      padding: 0;
    }

    display: flex;
    flex-flow: row wrap;
    padding: 0 15px;
  }

  .views-row {
    @include media ($xs, null) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include media ($sm, null) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include media ($md, null) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
  }

  .views-field-nothing {
    @extend %shadow;
    background-color: $gray;
    border-radius: 4px;
    height: 100%;

    .field-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .product-image {
    margin: 20px 0 10px;
    min-height: 255px;
  }

  .title {
    @include font (18, normal);
    color: $blue1;
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
    word-break: break-word;
  }

  .body {
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    word-break: break-word;

    ol,
    ul {
      text-align: left;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .link-wrapper {
    margin: auto 0 10px;
  }

  .overview {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include font(14, 500);
      display: inline-block;
      text-decoration: none;
    }
  }
}

// FAQ page
.view-display-id-page_faq_listing {
  padding: 0 15px;

  .view-content {
    flex-direction: column;
  }

  .views-row {
    margin-bottom: 40px;
    padding: 0 15px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .views-field-nothing {
    background-color: $gray;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .16);  // sass-lint:disable-line no-color-literals
  }

  .question {
    @include font (20, normal);
    color: $blue1;
    cursor: pointer;
    margin-bottom: 0;
    padding: 20px;
  }

  .answer {
    padding: 0 20px 20px;
  }
}

// Documentation page.
.view-display-id-api_documentaion_page {
  .views-row {
    width: 100%;
  }
}

// View listing cards.
.view-dashboard-listing,
.view-organisations {
  margin: 0 auto;
  max-width: 1280px;

  .view-header {
    display: flex;
    flex-flow: column;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    margin: 0 0 30px -15px;
    text-align: center;
    width: 100%;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include font(14, 500);
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 10px;
      padding-right: 35px;
      padding-top: 10px;
      position: relative;
      text-decoration: none;

      &::after {
        @extend %awsome;
        content: '\f055';
        font-size: 28px;
        position: absolute;
        right: 5px;
        top: 1px;
      }
    }
  }

  .views-row {
    @extend %shadow;
    background-color: $gray;
    border-radius: 4px;
    flex: 0 0 31.5%;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 20px 20px 50px;
    position: relative;
    text-align: center;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include media (null, $md - 1) {
      flex: 0 0 46.6%;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 50%;

      &:nth-child(3n) {
        margin-right: 10px;
      }
    }

    @include media (null, $sm - 1) {
      flex: 0 0 96%;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 100%;
    }

    .views-field-title {
      @include font (18, normal);
      color: $blue1;
      margin-bottom: 20px;
    }

    .views-field-body {
      height: calc(100% - 105px);
      margin-bottom: 20px;
      text-align: center;
      word-break: break-word;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .views-field-view-node,
    .views-field-edit-node-1 {
      bottom: 16px;
      display: inline-block;
      margin-right: 20px;
      margin-top: auto;
      position: absolute;

      a {
        @extend %custom-btn;
        @extend %custom-btn-submit;
        @include font(14, 500);
        display: inline-block;
        text-decoration: none;
        width: 120px;
      }
    }

    .views-field-view-node {
      left: 18%;
    }

    .views-field-edit-node-1 {
      right: 13%;
    }
  }

  .table {
    th {
      background: $green;
      border: 1px solid $green;
    }

    tr {
      background: $white;
      border-bottom: 1px solid $green;

      &:focus {
        background: $white;
      }

      &:nth-of-type(2n+1) {
        background-color: $white;

        &:hover {
          background: $white;
        }
      }

      &:hover {
        background: $white;
      }
    }

    td {
      border: 1px solid $green;

      &.views-field-nothing {

        a {
          @include media (null, $md - 1) {
            margin-bottom: 10px;
            width: 100%;
          }

          border: 1px solid $green;
          border-radius: 20px;
          color: $green;
          display: inline-block;
          margin-bottom: 2%;
          padding: 5px 8px;
          text-align: center;
          width: 100%;

          &:hover {
            background: $green;
            color: $white;
          }

          ~ br {
            @extend %none;
          }
        }
      }
    }

    .pagination {
      .page-link {
        color: $green;
      }
    }
  }
}

.view-organisations {
  .table-responsive {
    td {
      &.views-field-nothing {
        @include media (null, $md - 1) {
          width: 50%;
        }
        text-align: center;
        width: 30%;

        a { // sass-lint:disable-line nesting-depth
          @include media (null, $md - 1) {
            width: 100%;
          }

          width: 100%;

        }
      }
    }
  }
}

//listing page for dev pages
.view-display-id-page_dev_apps_listing {

  .views-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .views-view-grid {
    margin-top: 40px;
    padding: 0;
  }

  .views-col {
    @extend %shadow;
    background-color: $gray;
    border-radius: 4px;
    flex: 0 0 23.3%;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: initial;
    padding: 20px 20px 60px;
    position: relative;
    text-align: center;

    &:nth-child(4n) {
      margin-right: 0;
    }

    @include media (null, $md - 1) {
      flex: 0 0 46.6%;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 50%;

      &:nth-child(4n) {
        margin-right: 10px;
      }
    }

    @include media (null, $sm - 1) {
      flex: 0 0 96%;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 100%;
    }

    .views-field-field-display-name {
      @include font (18, normal);
      color: $blue1;
    }

    .views-field-field-products-image {
      margin-bottom: 6px;
    }

    .views-field-body {
      height: calc(100% - 105px);
      margin-bottom: 20px;
      text-align: center;
      word-break: break-word;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .views-field-view-node,
    .views-field-edit-node-1,
    .views-field-edit-node,
    .views-field-delete-node {
      bottom: 16px;
      display: inline-block;
      margin-right: 20px;
      margin-top: auto;
      position: absolute;

      a {
        @extend %custom-btn;
        @extend %custom-btn-submit;
        @include font(14, 500);
        display: inline-block;
        text-decoration: none;
        width: 105px;
      }
    }

    .views-field-delete-node {
      bottom: 14px;
      right: 0;
    }

    .views-field-edit-node {
      bottom: 14px;
      left: 20px;
    }

    .views-field-view-node {
      left: 18%;
    }

    .views-field-edit-node-1 {
      right: 13%;
    }

    .published {
      @include font (12, normal);
      border: 2px solid $green;
      border-radius: 50%;
      color: $green;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;

      &::before {
        @extend %awsome;
        content: '\f00c';
      }
    }
  }
}

.content-reference-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140px;

  h2 {
    border-bottom: 2px solid $green;
    color: $blue1;
    margin: 50px auto;
    padding: 40px 0 10px;
  }

  .view-all-content {
    text-align: center;

    a {
      background-color: $blue1;
      border-radius: 30px;
      color: $white;
      display: inline-block;
      padding: 12px 30px;
    }
  }
}

// Dashboard list page.
.block-block-dashboardlisting {
  .field--name-field-dashboard-listing {
    @include media (null, $sm - 1) {
      max-width: 100%;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;

    > .field__item {
      @extend %shadow;
      @include media (null, $sm - 1) {
        margin-bottom: 20px;
        margin-right: 0;
        padding: 15px;
        width: 95%;
      }

      background-color: $gray;
      border: 0;
      border-radius: 12px;
      margin-bottom: 30px;
      margin-right: 30px;
      padding: 30px;
      text-align: center;
      width: 46%;

      &:last-child {
        margin-right: 0;
      }

      .field--name-field-title {
        @include font (24, normal);
        color: $blue1;
        margin-bottom: 20px;
      }

      .field--name-field-description {
        min-height: 8rem;
      }

      .field--name-field-link-dashboard {
        a {
          @extend %custom-btn;
          @extend %custom-btn-submit;
          @include font(18, 500);
          background: none;
          text-decoration: none;
        }
      }
    }
  }
}

.view-proxies-listing {
  .view-content {
    margin-top: 20px;

    fieldset {
      @include media (null, $sm) {
        width: 100%;
      }
      float: left;

      .custom-select {
        @include media (null, $sm) {
          width: 100%;
        }
      }

      label {
        display: block;
      }
    }

    button {
      margin-left: 1%;
      margin-top: 2.5%;
    }

    .item-list {
      @include media (null, $md - 1) {
        flex: 0 0 100%;
      }
    }
  }

  .views-row {
    .views-col {
      padding-bottom: 240px;

      .views-field-nothing {
        bottom: 56px;
        left: 15px;
        position: absolute;
        right: 15px;

        a {
          @extend %custom-btn;
          @extend %custom-btn-submit;
          @include font(14, 500);
          display: inline-block;
          margin: 5px 0;
          text-decoration: none;
          width: 100%;
        }

        p {
          margin-bottom: 0;
        }
      }

      .views-field-edit-node {
        bottom: 182px;
      }

      .views-field-delete-node,
      .views-field-edit-node {
        left: 15px;
        margin: 0;
        right: 15px;

        a {
          margin: 5px 0;
          width: 100%;
        }
      }
    }
  }

  .views-field-edit-node,
  .views-field-delete-node {
    a {
      &::after {
        @extend %awsome;
        padding-left: 10px;
      }
    }
  }

  .views-field-edit-node {
    a {
      &::after {
        content: '\f044';
      }
    }
  }

  .views-field-delete-node {
    a {
      &::after {
        content: '\f1f8';
      }
    }
  }

  .item-list {
    @extend %shadow;

    @include media (null, $sm - 1) {
      flex: 0 0 100%;
      margin-right: 0;
    }

    @include media (null, $md - 1) {
      flex: 0 0 44%;
    }

    background-color: $gray;
    border-radius: 4px;
    display: flex;
    flex: 0 0 30%;
    flex-flow: column;
    justify-content: center;
    margin: 0 30px 30px 0;
    padding: 0 15px;
    text-align: center;

    .views-field-edit-node,
    .views-field-nothing,
    .views-field-delete-node {
      a {
        @extend %custom-btn;
        @extend %custom-btn-submit;
        @include font(14, 500);
        background: none;
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
      }
    }

    .views-field-edit-node {
      margin-top: 15px;
    }
  }
}

// Listing inner page.
.view-contents-list,
.view-organisation-users,
.view-proxies-listing,
.view-organisations,
.view-dashboard-listing,
.view-comment,
.view-block-content,
.view-display-id-page_admin_content,
.view-app-gallery {
  .view-header {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin: 0 0 30px;
    text-align: center;
    width: 100%;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include font(14, 500);
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 10px;
      padding-right: 40px;
      padding-top: 10px;
      position: relative;
      text-decoration: none;

      &::after {
        @extend %awsome;
        content: '\f055';
        font-size: 28px;
        position: absolute;
        right: 5px;
        top: 1px;
      }
    }

    span {
      + span {
        a {
          padding: 10px 20px;

          &::after {
            @extend %none;
          }
        }
      }
    }

    .links {
      float: right;
      list-style: none;
      margin-top: 30px;
      padding: 0;
    }
  }

  .view-content {
    &.row {
      .views-form {
        width: 100%;
      }

      form {
        .custom-control-input {
          opacity: 1;
        }

        .checkbox {
          &.custom-switch {
            margin: 0 auto;
            padding-left: 0;
            width: 15px;
          }
        }
      }

      .form-control {
        + div {
          &[id='edit-actions--2'] {
            @extend %none;
          }
        }
      }
    }

    .list-group-item {
      border: 0;
    }
  }

  .button {
    @extend %custom-btn;
    @extend %custom-btn-submit;
    @include font(14, 500);
    background: none;
    display: inline-block;
    text-decoration: none;

    &::before {
      @extend %awsome;
      background: none;
      content: '\f00c';
    }
  }

  .table-responsive {
    padding: 0;
  }

  .table,
  .sticky-header {
    border-collapse: unset;

    thead {
      tr,
      th {
        background: rgba($blue1, 1); // sass-lint:disable-line no-color-literals
        border-bottom: 0;
        text-align: center;
      }
    }

    tbody {
      tr {
        background: none;
        border-bottom: 1px solid $gray;

        .dropbutton-widget {
          position: absolute;
          width: 100px;
        }
      }
    }

    td {
      @include font(14, 500);
      vertical-align: middle;

      &.views-field-nothing {
        @include font(12, 500);

        > a {
          @extend %custom-btn;
          @extend %custom-btn-submit;
          @include font(12, 500);
          background: none;
          display: grid;
          margin-bottom: 2%;
          text-align: center;
          text-decoration: none;
          width: 100%;
        }

        .dropbutton-multiple {
          .dropbutton-widget {
            background: $green;
          }

          .dropbutton-action {
            &:hover { // sass-lint:disable-line nesting-depth
              background: unset;
            }
          }

          a {
            color: $white;
            margin-bottom: 0;

            &:hover { // sass-lint:disable-line nesting-depth
              background: unset;
            }
          }

          + a {
            margin-top: 5px;
          }

          .dropbutton-toggle {
            button {
              background: $green;

              .dropbutton-arrow {
                border-top-color: $white;

                &:hover { // sass-lint:disable-line nesting-depth
                  background: unset;
                }
              }
            }
          }

          &.open {
            .dropbutton-toggle {
              button {
                .dropbutton-arrow { // sass-lint:disable-line nesting-depth
                  border-bottom-color: $white;
                  border-top-color: transparent;
                }
              }
            }
          }
        }
      }

      &.views-field-operations {
        width: 120px;
      }
    }
  }

  .views-exposed-form {
    .form-row {
      .form-actions {
        margin: 10px 0 0;
      }
    }
  }

  &.view-display-id-page_apps_listing {
    .views-exposed-form {
      .form-row {
        .form-actions {
          margin: -5px 0 0;
        }
      }
    }
  }
}

//api section
.block-views-blockproduct-listing-block-product-organisation {
  .view-product-listing {
    .view-content {
      &.row {
        width: 100%;
      }

      .item-list {
        li {
          max-width: 27.333333%;
        }
      }

      .link-wrapper {
        text-align: center;
      }
    }

    .view-footer {
      width: 100%;
    }
  }
}

.role-product_manager {
  .view-content {
    &.row {
      @include media (null, $sm) {
        padding: 0 15px;
      }
    }
  }
}

.view-display-id-page_admin_content {
  .views-form {

    .row {
      @include media (null, $md) {
        padding: 0 15px;
      }
    }

    fieldset {
      float: left;
      margin: 0 1% 0 0;

      .custom-select {
        width: 100%;
      }
    }

    .button {
      margin-top: 2.4%;
    }
  }
}
