// Paragraph
.paragraph-products {
  .para-wrapper {
    @include media (null, $sm) {
      margin-bottom: 24px;
      padding: 6%;
    }

    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
    margin-bottom: 2%;
    padding: 2.5%;

    + .image-file-video {
      @include media (null, $sm) {
        margin-bottom: 8%;
      }
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
      margin-bottom: 2%;
      padding: 2.5%;
    }

    h3 {
      @include font (22, 500);
      color: $green;
      margin-bottom: 10px;
    }

    p {
      text-align: justify;
    }
  }

  .alignleft {
    .para-wrapper {
      @include media (null, $sm) {
        float: unset;
        width: 100%;
      }
      float: left;
      width: 58%;
    }

    .image-file-video {
      @include media (null, $sm) {
        float: unset;
        margin-left: auto;
        width: 100%;
      }
      float: right;
      margin-left: 30px;
      width: 38%;
    }
  }

  .alignright {
    .para-wrapper {
      @include media (null, $sm) {
        float: unset;
        width: 100%;
      }
      float: right;
      width: 58%;
    }

    .image-file-video {
      @include media (null, $sm) {
        float: unset;
        margin-right: auto;
        width: 100%;
      }
      float: left;
      margin-right: 30px;
      width: 38%;
    }
  }
}

.field--name-field-api-detail-section {
  .field__item {
    clear: both;
  }
}

// Events page
.node {
  .field--type-image {
    float: none;
    margin: 0;
  }

  &.node--view-mode-full {
    .field--type-text-with-summary {
      margin-bottom: 30px;
    }
  }
}

.node--type-events {
  .field {
    margin-bottom: 10px;
  }

  .field__label {
    font-weight: 500;
  }

  // Image group
  .field--type-image {
    float: left;
    margin: 0;
  }

  .field--name-body {
    margin: 0 0 0 380px;
    word-break: break-word;

    > .field__label {
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Date and time
  .event-date {
    margin-bottom: 30px;

    > .field__label {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .field {
      &:last-child {
        .field__label {
          margin-bottom: 0;
        }
      }
    }
  }

  // Location
  .field--name-field-address-block {
    margin-bottom: 30px;
    text-transform: capitalize;

    > .field__label {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .address {
      margin-bottom: 0;

      span {
        + br {
          @extend %none;
        }

        ~ span {
          &::before {
            content: ',';
            margin-right: 3px;
          }
        }
      }
    }
  }

  @include media (null, $md) {
    .field--type-image {
      float: none;
    }

    .field--name-body {
      margin: 0 0 30px;
    }
  }

  .block-field-blocknodeeventsfield-user-rating {
    max-width: 80%;

    .block-social-sharing-block {
      float: right;
      margin-top: -92px;
    }

    .social-media-sharing {
      li {
        width: 30px;
      }
    }
  }

  .block-field-blocknodeeventscomment {
    margin-top: 80px;
  }
}

// Article page
.node--type-article {
  .comment-forbidden {
    display: none;
  }
}

// Apps page
.node--type-apps {
  @include media (null, $sm) {
    padding: 0;
  }

  .node__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .ds-1col {
    @include media (null, $sm) {
      margin-bottom: 30px;
      padding: 10px;
      width: 100%;
    }

    background: $white;
    border: 1px solid $gray2;
    border-radius: 6px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;

    .block {
      @include media (null, $sm) {
        margin-right: 0;
        width: 100%;
      }

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin-right: 30px;
      width: 46%;

      &.block-field-blocknodeappsfield-products-image {
        width: 100px;
      }
    }

    .block-field-blocknodeappsbody {
      margin-right: 0;
      margin-top: 20px;
      width: 100%;

      h2 {
        + .content {
          @include media (null, $sm) {
            width: 70%;
          }

          width: 80%;
        }
      }
    }

    h2 {
      @include media (null, $sm) {
        width: 52%;
      }

      @include font (14, 500);
      width: 130px;

      + .content {
        width: 47%;

        .field--name-field-client-id,
        .field--name-field-client-secret {
          font-size: 0;

          &::before {
            content: '**********';
            font-size: initial;
          }

          i {
            cursor: pointer;
            display: inline-block;
            font-style: normal;
            margin-left: 10px;

            &::before {
              @extend %awsome;
              content: '\f06e';
              font-size: initial;
            }

            ~ i {
              @extend %none;
            }
          }

          &.show-keys {
            font-size: initial;

            &::before {
              @extend %none;
            }

            i {
              &::before {
                @extend %awsome;
                content: '\f070';
                font-size: initial;
              }

              ~ i {
                @extend %none;
              }
            }
          }
        }
      }

      &::after {
        content: ' :';
      }
    }

    .field__label {
      font-weight: 500;
      width: 130px;
    }

    > .field__item {
      width: 70%;
    }

    + .ds-1col {
      margin-top: 30px;
    }
  }
}

.nav {
  &.nav-tabs {
    &.primary {
      margin: 0 auto;
      max-width: 1440px;
    }
  }
}

article {
  header {
    margin-bottom: 20px;
  }
}

.view-api-document-formatter {
  .view-content {
    &.row {
      display: block;
      margin: 0;
    }
  }
}

//rating and social icon section
.block-field-blocknodetutorialsfield-user-rating,
.block-field-blocknodesolutionsfield-user-rating,
.block-field-blocknodedocument-overviewfield-user-rating,
.block-field-blocknodeuse-casesfield-user-rating,
.block-field-blocknodearticlefield-user-rating,
.block-field-blocknoderesourcesfield-user-rating,
.block-field-blocknodedocument-overviewfield-description,
.block-field-blocknodeassetsfield-user-rating {
  @include media (null, $sm) {
    display: unset;
    float: unset;
    width: 100%;
  }

  display: flex;
  float: left;
  width: 50%;
}

.field--type-comment {
  margin-top: 55px;
}

.block-social-media {
  @include media (null, $sm) {
    display: unset;
    width: 100%;
  }
  display: flex;
  width: 50%;
}

.block-field-blocknodetutorialsfield-description,
.block-field-blocknodeuse-casesfield-description,
.block-field-blocknodearticlefield-description,
.block-field-blocknodesolutionsfield-description {
  p {
    @include media (null, $sm) {
      padding: 6%;
    }

    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
    margin-bottom: 2%;
    padding: 2.5%;
  }
}

@include media (null, $sm) {
  .block-field-blocknodetutorialsfield-tags {
    margin-top: 10%;
  }

  .block-field-blocknodesolutionsfield-api-detail-section {
    margin-bottom: 20px;
  }
}

//document comtent css
.field--name-field-banners-image {
  .field--type-image {
    width: 100%;
  }

  img {
    @include media (null, $sm) {
      height: auto;
    }

    height: 380px;
    margin-bottom: 0;
    width: 100%;
  }
}

.node__content {
  .layout--twocol-section {
    display: flex;
    flex-flow: wrap;

    .layout__region--first {
      @include media (null, $sm - 1) {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }

      flex: 0 0 20%;
      margin-right: 0;
    }

    .block-book-navigation {
      .content {
        background: $gray;
        border: 0;
        height: 100%;
        margin: 0;
        padding: 25px 15px 30px;
      }

      .book-block-menu {
        padding-left: 0;
      }
    }

    .layout__region--second {
      @include media (null, $sm - 1) {
        flex: 0 0 100%;
        margin-left: 0;
      }

      flex: 0 0 78%;
      margin-left: 15px;
    }
  }

  .layout--twocol-section--50-50 > .layout__region {
    @include media (null, $sm) {
      flex: 0 1 100%;
    }

    &.layout__region--first {
      flex: 0 1 40%;
    }

    flex: 0 1 60%;

    h2 {
      @include media (null, $sm) {
        text-align: left;
      }
      @include font (22, 600);
    }

    form {
      @include media (null, $sm) {
        max-width: 100%;
      }

      position: relative;
    }
  }
}

.view-tags-view {
  .view-content {
    margin: 0 auto;
    max-width: 1180px;

    .views-row {
      @extend %shadow;

      @include media (null, $sm - 1) {
        flex: 0 0 100%;
        margin-left: 0;
        margin-right: 0;
      }

      align-items: center;
      background-color: $gray;
      border-radius: 4px;
      display: flex;
      flex: 0 0 31%;
      flex-direction: column;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 15px 20px;
      text-align: center;

      .views-field-body {
        border: 0;
        color: $black1;
        padding: 0;
        text-transform: unset;

        &::before { // sass-lint:disable-line nesting-depth
          @extend %none;
        }
      }

      .views-field-title {
        margin: 10px 0;
      }
    }
  }
}

.view-notification-view {
  .button {
    background-color: $green;
    border-color: $green;
    color: $white;
    margin-left: 19px;

    &:hover {
      background-color: $blue4;
      border-color: $blue4;
    }
  }

  .views-form {
    width: 100%;

    table {
      .custom-control-input {
        opacity: 1;
      }

      thead {
        tr {
          th {
            background: $blue1;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $gray6;
          }
        }
      }

    }
  }
}

.vbo-view-form {
  .table-responsive {
    ~ .form-actions {
      @extend %none;
    }
  }
}

.node--type-api-product {
  .ds-1col {
    margin-bottom: 0;
  }

  .support-block {
    .group-left {
      margin-top: -15px;
    }

    .group-right {
      margin-top: -15px;
    }
  }
}
