// Profile page
.profile {
  .layout__region--content {
    flex-flow: column;

    .field {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      .field__label {
        font-weight: 600;
        width: 110px;

        &::after { // sass-lint:disable-line nesting-depth
          content: ': ';
          margin-right: 10px;
        }
      }

      span {
        + br { // sass-lint:disable-line nesting-depth
          @extend %none;
        }

        ~ span { // sass-lint:disable-line nesting-depth
          &::before {
            content: ', ';
            left: -2px;
            position: relative;
          }
        }
      }

      a {
        background: $blue1;
        border-radius: 6px;
        color: $white;
        font-size: 12px;
        padding: 5px;
      }

      .field__item {
        display: inline-block;
      }
    }

    .block {
      align-self: center;
      width: 246px;

      &.block-field-blockuseruseruser-picture {
        max-width: 110px;

        h4 {
          @include font (22, normal);
        }

        img {
          border: 2px solid $blue1;
          border-radius: 50%;
        }
      }

      .js-form-type-item {
        text-align: center;
      }
    }
  }
}

