// Login page.
.page-user-login {
  .main-content {
    @include media (null, $xs - 1) {
      max-width: 100%;
    }

    margin: 0 auto;
    max-width: 60%;
    padding: 0 15px;
  }

  .nav-link--user-password {
    display: none;
  }

  .block-social-auth-login,
  .user-login-form {
    @include media ($md, null) {
      width: 50%;
    }

    width: 100%;
  }

  .block-social-auth-login {
    float: right;
    padding-left: 30px;
    position: relative;

    a {
      border: 1px solid $gray2;
      color: $black1;
      display: block;
      margin-bottom: 20px;
      padding: 15px;
    }

    img {
      width: 30px;

      &.saml {
        background: $blue3;
        padding: 3px;
      }
    }

    @include media (null, $md - 1) {
      order: 6;
      padding-left: 0;
    }
  }

  .user-login-form {
    border-right: 1px solid $gray2;
    float: left;
    padding-right: 30px;

    .form-text {
      background-color: $white;
      border: 1px solid $gray2;
      border-radius: 0;
      width: 100%;
    }

    .form-submit {
      width: 100%;
    }

    .reset {
      width: 100%;
    }

    @include media (null, $md - 1) {
      border-bottom: 1px solid $gray2;
      border-right: 0;
      margin-bottom: 60px;
      order: 5;
      padding-bottom: 30px;
      padding-right: 0;
    }

    details {
      &.captcha {
        display: block;

        summary {
          &[aria-controls='captcha'] {
            @extend %none;
          }
        }

        .details-wrapper {
          margin: 20px 0;
        }

        .details-description {
          @extend %none;
        }
      }
    }
  }

  .seperator {
    @include media (null, $md - 1) {
      bottom: calc(100% + 8px);
      justify-content: center;
      left: 40%;
      top: auto;
      width: 40px;
    }

    align-items: center;
    background: $white;
    display: flex;
    height: 40px;
    left: -12px;
    position: absolute;
    top: 130px;
  }

  .section {
    @include media (null, $md - 1) {
      display: flex;
      flex-flow: column;
    }
  }
}

// Create new account
.page-user-register {
  .main-content {
    @include media (null, $xs - 1) {
      max-width: 100%;
    }

    margin: 0 auto;
    max-width: 60%;
    padding: 0 15px;
  }

  .nav-link--user-password {
    display: none;
  }

  .block-social-auth-login,
  .user-register-form {
    @include media ($md, null) {
      width: 50%;
    }

    width: 100%;

    .tabledrag-toggle-weight,
    .field-add-more-submit,
    details {
      @extend %none;
    }

    details {
      &.captcha {
        display: block;

        summary {
          &[aria-controls='captcha'] {
            @extend %none;
          }
        }

        .details-wrapper {
          margin: 20px 0;
        }

        .details-description {
          @extend %none;
        }
      }
    }
  }

  .block-social-auth-login {
    float: right;
    padding-left: 30px;
    position: relative;

    a {
      border: 1px solid $gray2;
      color: $black1;
      display: block;
      margin-bottom: 20px;
      padding: 15px;
    }

    img {
      width: 30px;

      &.saml {
        background: $blue3;
        padding: 3px;
      }
    }

    @include media (null, $md - 1) {
      padding-left: 0;
    }
  }

  .user-register-form {
    border-right: 1px solid $gray2;
    float: left;
    padding-right: 30px;

    label {
      display: block;
    }

    .form-type-select {
      .custom-select {
        border: 1px solid $gray2;
        width: 100%;
      }
    }

    .form-text {
      background-color: $white;
      border: 1px solid $gray2;
      border-radius: 0;
      width: 100%;
    }

    .form-submit {
      width: 100%;
    }

    .reset {
      width: 100%;
    }

    @include media (null, $md - 1) {
      border-right: 0;
      border-top: 1px solid $gray2;
      margin-top: 30px;
      padding-right: 0;
      padding-top: 20px;
    }
  }

  .seperator {
    @include media (null, $md - 1) {
      bottom: -50px;
      justify-content: center;
      left: 46%;
      top: auto;
      width: 40px;
    }

    align-items: center;
    background: $white;
    display: flex;
    height: 40px;
    left: -12px;
    position: absolute;
    top: 130px;
  }
}

// Reset Password
.page-user-password {
  .main-content {
    @include media (null, $xs - 1) {
      max-width: 100%;
    }

    margin: 0 auto;
    max-width: 60%;
    padding: 0 15px;
  }
}

//user profile
.profile {
  .layout__region {
    @include media (null, $lmd) {
      min-height: unset;
    }
    background-color: $gray;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
    min-height: 500px;
    padding: 4% 0%;

    .block {
      @include media (null, $lmd) {
        margin-left: unset !important; // sass-lint:disable-line no-important
      }
      margin-left: 280px !important; // sass-lint:disable-line no-important
    }

    .block-field-blockuseruseruser-picture {
      @include media (null, $lmd) {
        left: unset !important; // sass-lint:disable-line no-important
        position: unset !important; // sass-lint:disable-line no-important
      }
      left: 150px !important; // sass-lint:disable-line no-important
      position: absolute !important; // sass-lint:disable-line no-important

      img {
        @include media (null, $lmd) {
          min-height: 100px;
          min-width: 100px;
        }
        min-height: 180px;
        min-width: 180px;
      }
    }

    .block-extra-field-blockuserusermember-for {
      @include media (null, $lmd) {
        left: -5px !important; // sass-lint:disable-line no-important
        position: unset !important; // sass-lint:disable-line no-important
        top: unset; // sass-lint:disable-line no-important
      }
      left: 121px !important; // sass-lint:disable-line no-important
      position: absolute !important; // sass-lint:disable-line no-important
      top: 383px; // sass-lint:disable-line no-important
    }

    .field {
      padding-bottom: 5px !important; // sass-lint:disable-line no-important

      a {
        background: transparent !important; // sass-lint:disable-line no-important
      }

      .field__item {
        display: block !important; // sass-lint:disable-line no-important

        a {
          background: transparent !important; // sass-lint:disable-line no-important
          color: $black !important; // sass-lint:disable-line no-important
          font-size: 1rem !important; // sass-lint:disable-line no-important
          padding: 0 !important; // sass-lint:disable-line no-important
        }
      }
    }
  }
}
