@import "settings";

.top-tags-wrapper .tags {
  color: $gray-light-1;
  font-weight: bold;
  padding-right: 20px;
  text-transform: capitalize;
}

// Tags
.field--name-field-tags {
  @include font (14, normal);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 20px;

  &::before {
    content: 'Tags: ';
    display: inline-block;
    margin-right: 10px;
  }

  .links {
    a {
      @include font (12, bold);
      background: $blue;
      border-radius: 5px;
      color: $white;
      padding: 5px;
      position: relative;
      top: 2px;
    }
  }
}
