@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

.page-view-forum .view-forum .view-content [id='edit-actions--2'] {
  display: none;
}

.path-forum .layout--with-complementary .action-links {
  list-style: none;
  margin-bottom: 1rem;
}

.path-forum .layout--with-complementary .action-links a {
  color: #4a4a4a;
  background-color: #ffffff;
  border-color: #adadad;
  fill: #4a4a4a;
  padding-left: 15px;
  padding-right: 15px;
}

.path-forum .layout--with-complementary .action-links a:hover,
.path-forum .layout--with-complementary .action-links a:focus,
.path-forum .layout--with-complementary .action-links a:active {
  background-color: #e6e6e6;
  border-color: #8e8e8e;
  color: #4a4a4a;
}

.table-forum {
  margin-bottom: 1.75rem;
}

.table-forum thead th {
  padding: 1.5rem 30px 1rem;
}

.table-forum thead th a,
.table-forum thead th.is-active a {
  color: #4a4a4a;
}

.table-forum thead th a:hover,
.table-forum thead th.is-active a:hover {
  text-decoration: underline;
}

.table-forum thead th a .icon-tablesort,
.table-forum thead th.is-active a .icon-tablesort {
  fill: #4a4a4a;
}

.table-forum thead th,
.table-forum thead th a {
  font-size: 14px;
  font-weight: 700;
}

.table-forum tbody td {
  padding-right: 30px;
  padding-left: 30px;
}

.table-forum tbody td > * {
  margin-bottom: 1rem;
}

.table-forum tbody td > *[title='No new posts'], .table-forum tbody td > *:last-child {
  margin-bottom: 0;
}

.table-forum tbody td a {
  font-weight: 700;
}

.page-view-forum .nav-tabs {
  background: transparent;
  border-bottom: 0;
}

.page-view-forum .nav-tabs li a {
  color: #1d76ee;
  font-weight: 600;
  margin: 0 16px;
  padding: 8px 0;
}

.page-view-forum .nav-tabs li a:hover {
  border-color: transparent;
}

.page-view-forum .nav-tabs li.active a {
  border-bottom: 2px solid #384e86 !important;
  border-color: transparent;
  color: #1d76ee;
  margin: 0 16px;
}

.page-view-forum .nav-tabs li.active a.active {
  border: 0 none;
  border-bottom: 2px solid #384e86 !important;
  margin: 0 16px;
}

.page-view-forum .nav-tabs li:first-child a {
  margin-left: 0;
}

.page-view-forum .nav-tabs li.active:first-child a {
  margin-left: 0;
}

.page-view-forum .nav-tabs li.active:first-child a.active {
  margin-left: 0;
}

.page-view-forum .view-forum .views-row {
  border-bottom: 1px solid #adadad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  width: 100%;
}

.page-view-forum .view-forum .views-row .views-field-title {
  width: calc(100% - 220px);
}

.page-view-forum .view-forum .views-row .views-field-comment-count {
  text-align: right;
  width: 120px;
}

.page-view-forum .view-forum .views-row .views-field-node-bulk-form {
  padding: 0 20px 0 0;
}

.page-view-forum .view-forum .views-field-user-picture {
  width: 100px;
}

.page-view-forum .view-forum .views-field-user-picture img {
  border: 1px solid #adadad;
  border-radius: 50%;
}

.page-view-forum .view-forum .view-header {
  padding-bottom: 40px;
  padding-top: 20px;
}

.page-view-forum .view-forum .view-header a {
  border: 1px solid #384e86;
  border-radius: 5px;
  color: #1d76ee;
  font-weight: 600;
  padding: 10px;
}

.page-view-forum .view-forum .views-exposed-form input {
  border: 1px solid #384e86;
}

.page-view-forum .view-forum .view-content.row {
  display: block;
  margin: 0;
}

.page-view-forum .view-forum #edit-header.form-group {
  padding: 0;
}

.forum-content .forum-title a,
.forum-content .product a {
  color: #384e86;
}

.forum-content .forum-title a:hover,
.forum-content .product a:hover {
  text-decoration: none;
}

@media (min-width: 900px) {
  .path-forum .layout--with-complementary .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .table-forum thead td:first-child,
  .table-forum thead th:first-child,
  .table-forum tbody td:first-child,
  .table-forum tbody th:first-child {
    padding-left: 2.5rem;
  }
  .table-forum thead td:last-child,
  .table-forum thead th:last-child,
  .table-forum tbody td:last-child,
  .table-forum tbody th:last-child {
    padding-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .page-view-forum .view-forum {
    margin: 0 auto;
    max-width: 1140px;
  }
}

@media (max-width: 1024px) {
  .node--type-events .col {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
