@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT-Thin.woff2");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold.woff2");
}

.opendevx-download-sdk .form-submit {
  background-color: transparent;
  border: 1px solid #384e86;
  border-radius: 25px;
  color: #384e86;
  padding: 6px 12px;
  font-size: 0.875rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.opendevx-download-sdk .form-submit:hover {
  background-color: #384e86;
  color: #fff;
  text-decoration: none;
}

.programs-view .views-form form .form-group .form-group .button, .programs-view .view-filters .form-actions .button, .programs-view .card-paragraph .views-field-edit-node .field-content a,
.programs-view .card-paragraph .views-field-nothing .field-content a,
.programs-view .card-paragraph .views-field-delete-node .field-content a {
  background-color: transparent;
  border: 1px solid #384e86;
  border-radius: 25px;
  color: #384e86;
  display: block;
  padding: 10px 15px;
  font-size: 0.875rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.programs-view .views-form form .form-group .form-group .button:hover, .programs-view .view-filters .form-actions .button:hover, .programs-view .card-paragraph .views-field-edit-node .field-content a:hover,
.programs-view .card-paragraph .views-field-nothing .field-content a:hover,
.programs-view .card-paragraph .views-field-delete-node .field-content a:hover {
  background-color: #384e86;
  color: #fff;
  text-decoration: none;
}

.programs-view .views-form form .form-group .form-group .button::before {
  content: '\f00c';
  color: #384e86;
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 9px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.programs-view .views-form form .form-group .form-group .button:hover::before {
  color: #fff;
}

.node--type-use-cases .ds-2col .group-right + .book-navigation .menu,
.node--type-document-overview .ds-2col .group-right + .book-navigation .menu,
.node--type-issues .ds-2col .group-right + .book-navigation .menu,
.node--type-events .ds-2col .group-right + .book-navigation .menu,
.node--type-solutions .ds-2col .group-right + .book-navigation .menu,
.node--type-article .ds-2col .group-right + .book-navigation .menu,
.node--type-resources .ds-2col .group-right + .book-navigation .menu,
.node--type-tutorials .ds-2col .group-right + .book-navigation .menu,
.node--type-assets .ds-2col .group-right + .book-navigation .menu, .node--type-use-cases .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-document-overview .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-issues .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-events .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-solutions .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-article .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-resources .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-tutorials .ds-2col .group-right + .book-navigation li.book-pager__item--center,
.node--type-assets .ds-2col .group-right + .book-navigation li.book-pager__item--center, .apps-full-custom h2 + .content .field--name-field-client-id i ~ i,
.apps-full-custom h2 + .content .field--name-field-client-secret i ~ i, .apps-full-custom h2 + .content .field--name-field-client-id.show-keys::before,
.apps-full-custom h2 + .content .field--name-field-client-secret.show-keys::before, .apps-full-custom h2 + .content .field--name-field-client-id.show-keys i ~ i,
.apps-full-custom h2 + .content .field--name-field-client-secret.show-keys i ~ i {
  display: none;
}

.listing-grid .view-filters {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
}

.listing-grid .view-filters {
  background-color: #f4f4f4;
  border-radius: 4px;
}

.programs-view .views-form form .form-group .form-group .button::before, .apps-full-custom h2 + .content .field--name-field-client-id i::before,
.apps-full-custom h2 + .content .field--name-field-client-secret i::before, .apps-full-custom h2 + .content .field--name-field-client-id.show-keys i::before,
.apps-full-custom h2 + .content .field--name-field-client-secret.show-keys i::before {
  font-family: "FontAwesome", "Font Awesome 5 Free";
  font-weight: 900;
}

.node--type-api-product h2 {
  padding: 40px 0 10px;
}

.listing-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.listing-grid.cards-block {
  margin-top: 1rem;
}

.listing-grid .view-filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 100%;
  max-width: 25%;
  padding: 12px;
}

.listing-grid .view-filters input[type="text"],
.listing-grid .view-filters select {
  width: 100%;
}

.listing-grid .view-filters select {
  padding: 0.313rem 0.5rem;
}

.listing-grid .view-filters .form-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0;
}

.listing-grid .view-content,
.listing-grid .view-empty {
  max-width: 75%;
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
}

.listing-grid .view-content + nav[aria-label="pagination-heading"],
.listing-grid .view-empty + nav[aria-label="pagination-heading"] {
  width: 100%;
}

.listing-grid .view-content .item-list,
.listing-grid .view-empty .item-list {
  width: 100%;
}

.listing-grid legend,
.listing-grid a {
  font-size: 14px;
}

.node--view-mode-full .field--type-text-with-summary,
.node--view-mode-full .field--name-body {
  margin-bottom: 30px;
}

.block-page-title-block {
  text-align: center;
}

.block-page-title-block h1 {
  font-size: 2.14286rem;
  font-weight: normal;
  border-bottom: 2px solid #384e86;
  color: #1d76ee;
  display: inline-block;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.programs-view .view-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.programs-view .view-header a + a {
  margin-top: .6rem;
}

.programs-view .user-msg {
  padding: 2rem 0 1rem;
  text-align: center;
  width: 100%;
}

.programs-view h4 {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.programs-view .views-form {
  width: 100%;
}

.programs-view .views-form form .form-group .form-group .js-form-type-select {
  margin-right: 1rem;
}

.programs-view .views-form form .form-group .form-group .button {
  padding-left: 32px;
}

.programs-view .view-filters .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programs-view .view-filters .form-actions .button {
  line-height: 1;
  margin-bottom: 0;
}

.programs-view.cards-block .card-paragraph {
  width: 32%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.programs-view.cards-block .view-content.row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.programs-view .card-paragraph ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs-view .card-paragraph .views-field-edit-node .field-content a,
.programs-view .card-paragraph .views-field-nothing .field-content a,
.programs-view .card-paragraph .views-field-delete-node .field-content a {
  width: 17rem;
  margin-bottom: .5rem;
}

.programs-view .card-paragraph .views-field-edit-node .field-content p,
.programs-view .card-paragraph .views-field-nothing .field-content p,
.programs-view .card-paragraph .views-field-delete-node .field-content p {
  margin: 0;
}

.views-field-node-bulk-form label {
  display: none !important;
}

.node--type-use-cases .ds-2col,
.node--type-document-overview .ds-2col,
.node--type-issues .ds-2col,
.node--type-events .ds-2col,
.node--type-solutions .ds-2col,
.node--type-article .ds-2col,
.node--type-resources .ds-2col,
.node--type-tutorials .ds-2col,
.node--type-assets .ds-2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-height: calc(100vmin - 30vh);
}

.node--type-use-cases .ds-2col .group-left,
.node--type-document-overview .ds-2col .group-left,
.node--type-issues .ds-2col .group-left,
.node--type-events .ds-2col .group-left,
.node--type-solutions .ds-2col .group-left,
.node--type-article .ds-2col .group-left,
.node--type-resources .ds-2col .group-left,
.node--type-tutorials .ds-2col .group-left,
.node--type-assets .ds-2col .group-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  float: none;
}

.node--type-use-cases .ds-2col .group-left + .group-right,
.node--type-document-overview .ds-2col .group-left + .group-right,
.node--type-issues .ds-2col .group-left + .group-right,
.node--type-events .ds-2col .group-left + .group-right,
.node--type-solutions .ds-2col .group-left + .group-right,
.node--type-article .ds-2col .group-left + .group-right,
.node--type-resources .ds-2col .group-left + .group-right,
.node--type-tutorials .ds-2col .group-left + .group-right,
.node--type-assets .ds-2col .group-left + .group-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72%;
          flex: 0 0 72%;
  float: none;
  padding-bottom: 40px;
  width: auto;
}

.node--type-use-cases .ds-2col .group-left + .group-right .block,
.node--type-document-overview .ds-2col .group-left + .group-right .block,
.node--type-issues .ds-2col .group-left + .group-right .block,
.node--type-events .ds-2col .group-left + .group-right .block,
.node--type-solutions .ds-2col .group-left + .group-right .block,
.node--type-article .ds-2col .group-left + .group-right .block,
.node--type-resources .ds-2col .group-left + .group-right .block,
.node--type-tutorials .ds-2col .group-left + .group-right .block,
.node--type-assets .ds-2col .group-left + .group-right .block {
  margin-bottom: 10px;
}

.node--type-use-cases .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-document-overview .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-issues .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-events .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-solutions .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-article .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-resources .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-tutorials .ds-2col .group-left + .group-right .block .field--name-title,
.node--type-assets .ds-2col .group-left + .group-right .block .field--name-title {
  font-size: 1.71429rem;
  font-weight: normal;
  border-bottom: 2px solid #384e86;
  color: #1d76ee;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.node--type-use-cases .ds-2col .group-right,
.node--type-document-overview .ds-2col .group-right,
.node--type-issues .ds-2col .group-right,
.node--type-events .ds-2col .group-right,
.node--type-solutions .ds-2col .group-right,
.node--type-article .ds-2col .group-right,
.node--type-resources .ds-2col .group-right,
.node--type-tutorials .ds-2col .group-right,
.node--type-assets .ds-2col .group-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  float: none;
  width: auto;
}

.node--type-use-cases .ds-2col .group-right + .book-navigation,
.node--type-document-overview .ds-2col .group-right + .book-navigation,
.node--type-issues .ds-2col .group-right + .book-navigation,
.node--type-events .ds-2col .group-right + .book-navigation,
.node--type-solutions .ds-2col .group-right + .book-navigation,
.node--type-article .ds-2col .group-right + .book-navigation,
.node--type-resources .ds-2col .group-right + .book-navigation,
.node--type-tutorials .ds-2col .group-right + .book-navigation,
.node--type-assets .ds-2col .group-right + .book-navigation {
  float: right;
  margin-top: -34px;
  padding-left: 15px;
  width: 80%;
}

.node--type-events .col {
  padding: 0;
}

.node--type-events .group-right {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
  padding: 2%;
}

.node--type-events .group-right .field__label {
  font-weight: bold;
}

.node--type-events .group-right .block {
  margin-bottom: 10px;
}

.node--type-events .group-right .block-field-blocknodeeventstitle {
  font-size: 1.71429rem;
  font-weight: normal;
  color: #1d76ee;
  display: block;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.node--type-events .group-right .block-field-blocknodeeventstitle span {
  border-bottom: 2px solid #384e86;
  padding-bottom: 10px;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-listing-image {
  float: left;
  margin: 15px 15px 0 0;
  min-height: 150px;
  width: 23%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-listing-image .field {
  margin-bottom: 0;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-listing-image .field--type-image {
  float: unset;
  margin: 0;
  text-align: center;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-listing-image .field--type-image img {
  height: 150px;
  margin: 0;
  width: 100%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-listing-image + .block-field-blocknodeeventsbody {
  margin: 15px 0 0;
  min-height: 150px;
  width: 73%;
}

.node--type-events .group-right .block-field-blocknodeeventsbody {
  float: left;
  margin: 15px 0 0;
  min-height: auto;
  width: 100%;
}

.node--type-events .group-right .block-field-blocknodeeventsbody .field--name-body {
  margin: 0;
  word-break: break-word;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-event-types {
  float: left;
  font-size: 1rem;
  width: 100%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-event-types .field__label {
  font-weight: bold;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-event-types .field__label::after {
  content: ':';
}

.node--type-events .group-right .block-field-blocknodeeventsfield-address-block {
  float: left;
  font-size: 1rem;
  width: 100%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-address-block .field--name-field-address-block {
  margin-bottom: 0;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-start-date {
  float: left;
  font-size: 1rem;
  padding: 1% 2% 0 0;
  width: 40%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-start-date .field__label::after {
  content: ':';
}

.node--type-events .group-right .block-field-blocknodeeventsfield-end-date {
  float: left;
  font-size: 1rem;
  padding: 1% 2% 0 0;
  width: 40%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-end-date .field__label ::after {
  content: ':';
}

.node--type-events .group-right .block-field-blocknodeeventsfield-event-url {
  float: left;
  font-size: 1rem;
  width: 100%;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-user-rating {
  float: left;
  margin-top: 8px;
  width: 50%;
}

.node--type-events .group-right .block-social-media {
  display: inline-block;
  padding-top: 8px;
  width: 50%;
}

.node--type-events .group-right .block-field-blocknodeeventscomment {
  clear: both;
  margin-top: 50px;
}

.node--type-events .group-right .block-field-blocknodeeventsfield-tags {
  float: left;
  width: 100%;
}

.node--type-events .book-navigation {
  margin-left: 20%;
  width: 80%;
}

.confirm-subscription-form {
  text-align: center;
}

.opendevx-download-sdk {
  padding: 0 15px;
  text-align: center;
  width: 100%;
}

.opendevx-download-sdk .js-form-type-select {
  text-align: left;
}

.opendevx-download-sdk .form-submit {
  display: inline-block;
}

.block-download-other-resources {
  margin-bottom: -40px;
}

.block-asyncapi .view-content.row {
  margin: 0;
}

.block-asyncapi .view-content.row .views-row {
  width: 100%;
}

.page-view-notification-view .view-notification-view .views-field-views-bulk-operations-bulk-form label,
.page-view-notification-view .view-notification-view .form-item-select-all {
  display: none;
}

.block-opendevx-notification {
  padding: .5em .75rem;
}

.block-opendevx-notification .notify-drop li {
  border-left: 4px solid #fff;
}

.block-opendevx-notification .notify-drop li:hover {
  background: #f3f3f3;
  border-left: 4px solid #f3f3f3;
}

.block-opendevx-notification .notify-drop li span:hover {
  background: none;
}

.block-opendevx-notification .notify-drop li.unread {
  border-left: 4px solid #54bbba;
}

.node--type-apps .node__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.apps-full-custom .ds-2col-stacked-fluid {
  width: 100%;
}

.apps-full-custom h2 {
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid #384e86;
  color: #1d76ee;
  display: inline-block;
  margin-bottom: 5px;
}

.apps-full-custom h2 + .content .field--name-field-client-id,
.apps-full-custom h2 + .content .field--name-field-client-secret {
  font-size: 0;
}

.apps-full-custom h2 + .content .field--name-field-client-id::before,
.apps-full-custom h2 + .content .field--name-field-client-secret::before {
  content: '**********';
  font-size: initial;
}

.apps-full-custom h2 + .content .field--name-field-client-id i,
.apps-full-custom h2 + .content .field--name-field-client-secret i {
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  margin-left: 10px;
}

.apps-full-custom h2 + .content .field--name-field-client-id i::before,
.apps-full-custom h2 + .content .field--name-field-client-secret i::before {
  content: '\f06e';
  font-size: initial;
}

.apps-full-custom h2 + .content .field--name-field-client-id.show-keys,
.apps-full-custom h2 + .content .field--name-field-client-secret.show-keys {
  font-size: initial;
}

.apps-full-custom h2 + .content .field--name-field-client-id.show-keys i::before,
.apps-full-custom h2 + .content .field--name-field-client-secret.show-keys i::before {
  content: '\f070';
  font-size: initial;
}

.apps-full-custom h2::after {
  content: ' :';
}

.apps-full-custom .group-header {
  background-color: #adadad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 140px;
  padding: 20px;
}

.apps-full-custom .group-header > div {
  height: auto;
  padding-left: 20px;
  width: calc(100% - 100px);
}

.apps-full-custom .group-header > div:first-child.block-field-blocknodeappsfield-products-image {
  height: 100%;
  padding-left: 0;
  width: 100px;
}

.apps-full-custom .group-header .field--name-field-display-name,
.apps-full-custom .group-header .field--name-uid {
  font-size: 1.28571rem;
  font-weight: 700;
}

.apps-full-custom .group-header .field--name-field-display-name a,
.apps-full-custom .group-header .field--name-uid a {
  font-size: 1.14286rem;
  font-weight: 600;
  color: #1d76ee;
}

.apps-full-custom .group-left {
  padding: 20px 0 20px 20px;
  width: 72% !important;
}

.apps-full-custom .group-left .field--name-field-video {
  text-align: center;
}

.apps-full-custom .group-right {
  padding: 20px;
  width: 28% !important;
}

.apps-full-custom .group-right .block-layout-builder {
  padding-bottom: 15px;
}

.apps-full-custom .group-right .block-layout-builder:last-child {
  padding-bottom: 0;
}

.ui-widget.ui-widget-content {
  z-index: 11111;
}

.ui-dialog-titlebar-close {
  border: 2px solid #333;
  border-radius: 4px;
  display: inline-block;
}

.ui-dialog-titlebar-close:before {
  color: #333;
  content: 'x';
  display: block;
  position: absolute;
  text-indent: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

@media (min-width: 900px) {
  .path-node .region--complementary-top {
    margin-top: 0;
  }
}

@media (min-width: 1299px) {
  .listing-grid.cards-block {
    max-width: 1440px;
  }
}

@media (max-width: 899px) {
  .listing-grid .view-filters {
    max-width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin-bottom: 2rem;
  }
  .listing-grid .view-content,
  .listing-grid .view-empty {
    max-width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin: 0;
  }
  .node--type-use-cases .ds-2col .group-left,
  .node--type-document-overview .ds-2col .group-left,
  .node--type-issues .ds-2col .group-left,
  .node--type-events .ds-2col .group-left,
  .node--type-solutions .ds-2col .group-left,
  .node--type-article .ds-2col .group-left,
  .node--type-resources .ds-2col .group-left,
  .node--type-tutorials .ds-2col .group-left,
  .node--type-assets .ds-2col .group-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }
  .node--type-use-cases .ds-2col .group-left + .group-right,
  .node--type-document-overview .ds-2col .group-left + .group-right,
  .node--type-issues .ds-2col .group-left + .group-right,
  .node--type-events .ds-2col .group-left + .group-right,
  .node--type-solutions .ds-2col .group-left + .group-right,
  .node--type-article .ds-2col .group-left + .group-right,
  .node--type-resources .ds-2col .group-left + .group-right,
  .node--type-tutorials .ds-2col .group-left + .group-right,
  .node--type-assets .ds-2col .group-left + .group-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .node--type-use-cases .ds-2col .group-right,
  .node--type-document-overview .ds-2col .group-right,
  .node--type-issues .ds-2col .group-right,
  .node--type-events .ds-2col .group-right,
  .node--type-solutions .ds-2col .group-right,
  .node--type-article .ds-2col .group-right,
  .node--type-resources .ds-2col .group-right,
  .node--type-tutorials .ds-2col .group-right,
  .node--type-assets .ds-2col .group-right {
    width: 100%;
  }
  .node--type-use-cases .ds-2col .group-right + .book-navigation,
  .node--type-document-overview .ds-2col .group-right + .book-navigation,
  .node--type-issues .ds-2col .group-right + .book-navigation,
  .node--type-events .ds-2col .group-right + .book-navigation,
  .node--type-solutions .ds-2col .group-right + .book-navigation,
  .node--type-article .ds-2col .group-right + .book-navigation,
  .node--type-resources .ds-2col .group-right + .book-navigation,
  .node--type-tutorials .ds-2col .group-right + .book-navigation,
  .node--type-assets .ds-2col .group-right + .book-navigation {
    float: left;
    margin-top: 0;
    padding-left: 0;
    width: 100%;
  }
  .node--type-events .group-right .block {
    margin-bottom: 15px;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-listing-image {
    min-height: auto;
    width: 100%;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-listing-image .field--type-image img {
    height: auto;
    width: auto;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-listing-image + .block-field-blocknodeeventsbody {
    min-height: auto;
    width: 100%;
  }
  .node--type-events .group-right .block-field-blocknodeeventsbody {
    min-height: auto;
    width: 100%;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-start-date {
    padding: 0;
    width: 100%;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-start-date .field {
    margin-bottom: unset;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-end-date {
    padding: 0;
    width: 100%;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-end-date .field {
    margin-bottom: unset;
  }
  .node--type-events .group-right .block-field-blocknodeeventsfield-user-rating {
    width: 100%;
  }
  .node--type-events .group-right .block-social-media {
    width: 100%;
  }
  .node--type-events .book-navigation {
    margin-left: auto;
    width: 100%;
  }
  .apps-full-custom .group-left {
    padding: 20px 0 0;
    width: 100% !important;
  }
  .apps-full-custom .group-right {
    padding: 20px 0 0;
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .apps-full-custom .group-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
  .apps-full-custom .group-header > div {
    height: auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .apps-full-custom .group-header > div:first-child.block-field-blocknodeappsfield-products-image {
    text-align: center;
    margin: 0 auto;
  }
}
