.event-listing {
  .other-details {
    div {
      margin: 15px 0;
      padding: 0 10px;
    }
  }

  .event-url {
    @include media (null, $sm - 1) {
      width: 100%;
    }

    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include media (null, $sm - 1) {
        display: block;
        text-align: center;
      }

      @include font(14, 500);
      display: inline-block;
      text-decoration: none;
    }
  }
}

.forum-listing {
  .forum-title {
    a {
      @include font (20, normal);
      color: $blue1;
      display: block;
      margin: 15px 0;
      padding: 0 10px;
    }
  }

  .forum-by,
  .forum-on,
  .product,
  .comments {
    margin: 15px 0;
    padding: 0 10px;
  }
}
