.view-frontpage {
  display: none;
}

// Banner
.banner-wrapper {

  @include media (null, $xs) {
    padding: 20px 0;
  }

  background: url('#{$theme-path}banner-bg.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  margin-left: -50.5vw;
  min-height: 380px;
  padding: 30px 0;
  position: relative;
  width: 100vw;

  // Title
  .field--name-field-title {
    color: $white;
    margin-bottom: 20px;
  }

  // Body
  .field--name-body {
    @include font (18, normal);
    color: $white;
    margin: 0 !important; // sass-lint:disable-line no-important

    &:empty {
      @extend %none;
    }
  }

  // Image
  @include media ($md, null) {
    .field--name-field-images {
      display: flex;
      justify-content: flex-end;
    }
  }

  // Icons
  .field--name-field-icons {

    @include media (null, $sm) {
      margin: auto;
    }

    display: flex;
    flex-flow: row wrap;
    margin: 20px -15px -60px;
    padding-left: 30px;

    .field__item {
      @include media ($md, null) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      padding: 0 15px;
      width: 100%;

      .item-block {
        @extend %shadow;
        @include media ($md, $lg - 1) {
          text-align: right;
        }

        @include font(20, normal);
        background: $white;
        border-radius: 12px;
        color: $blue1;
        display: block;
        overflow: hidden;
        padding: 20px 0 20px 36px;
        position: relative;
        text-align: center;

        &::before {
          background: $blue1;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 15px;
        }

        &::after {
          height: 54px;
          left: 32px;
          position: absolute;
          top: 8px;
        }
      }

      &:nth-child(1) {
        .item-block {
          &::after {
            background: url('#{$theme-path}Icon-feather-user.png');
            content: '';
            width: 48px;
          }
        }
      }

      &:nth-child(2) {
        .item-block {
          &::after {
            background: url('#{$theme-path}Icon-metro-cog.png');
            content: '';
            width: 52px;
          }
        }
      }

      &:nth-child(3) {
        .item-block {
          &::after {
            background: url('#{$theme-path}Icon-feather-users.png');
            content: '';
            width: 69px;
          }
        }
      }
    }

    @include media (null, $md - 1) {
      padding-left: 0;

      .field__item {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.layout-builder {
  .banner-wrapper {
    left: 0;
    margin-left: 0;
    position: relative;
    width: 100%;
  }
}

// Gallery
.block-block-home-page-slider {
  display: flex;
  flex-direction: column;
  left: 50%;
  margin-left: -50vw;
  margin-top: 60px;
  padding: 0 0 20px;
  position: relative;
  width: 100vw;

  &::before {
    background: url('#{$theme-path}succsess-bg.svg');
    background-position: center;
    background-size: cover;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  h2 {
    border-bottom: 2px solid $green;
    color: $white;
    margin: 0 auto 20px;
    padding: 40px 0 10px;
  }
}

.gallery-slider-wrapper {
  @extend %custom-container;

  .field--name-field-title,
  .field--name-field-description {
    display: none;
  }

  .swiper-pagination {
    margin: 0 10px;
    position: static;
  }

  .prev-nect-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    align-items: flex-end;
    position: static;

    &::after {
      @include font (20, normal);
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }

  .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid $white;
    height: 10px;
    margin: 0 5px;
    width: 10px;

    &.swiper-pagination-bullet-active {
      background: $white;
    }
  }
}

// How To
.block-block-views-block-product-listing-block-homepage-product {
  +.block-block-guidance {
    @extend %custom-container;
    margin-top: 60px;

    h2 {
      border-bottom: 2px solid $green;
      color: $blue1;
      margin: 0 auto 20px;
      padding-bottom: 10px;
      width: 135px;
    }

    .field--name-field-description {
      margin: 40px 0;
      text-align: center;
    }

    .field--name-field-guidance-link {
      @extend %flow;

      max-width: 100%;

      .field__item {
        @include font (14, normal);
        width: 17%;

        &:first-child {
          color: $green;
        }

        &::before {
          color: $white;
        }
      }
    }
  }
}

// Blogs
.block-block-dashboard-block {
  @extend %custom-container;
  margin-top: 60px;
  padding: 0;

  .field--name-field-dashboard-listing {
    display: flex;
    flex-flow: row wrap;

    > .field__item {
      @include media (null, $sm - 1) {
        padding: 0;
      }

      @include media ($xs, null) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @include media ($sm, null) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include media ($md, null) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      margin-bottom: 30px;
      padding: 0 15px;
      width: 100%;
    }

    .paragraph {
      @extend %shadow;
      align-items: center;
      background-color: $gray;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .field--name-field-image {
      margin: 0;
    }

    .field--name-field-title {
      @include font (18, normal);
      color: $blue1;
      margin-bottom: 20px;
      padding: 10px 10px 0;
    }

    .field--name-field-description {
      margin-bottom: 30px;
      padding: 0 10px;
      text-align: center;
      width: 100%;
      word-break: break-word;

      p {
        @include font (14, normal);
        margin-top: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .field--name-field-link-dashboard {
      margin: auto 0 20px;

      a {
        @extend %custom-btn;
        @extend %custom-btn-submit;
        @include font(14, 500);
        background: none;
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}

// Twitter
.block-block-hometwitter {
  @extend %custom-container;
  margin-top: 60px;
}

.block-block-twittertweetsblock {
  @extend %shadow;
  background-color: $gray;
  border: 0;
  border-radius: 12px;
  display: flex;
  margin-bottom: 40px;
  padding: 30px;
}

//API programs section
.block-developer-portal-organisation {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  margin: -30px -15px;

  h2 {
    border-bottom: 2px solid $white;
    color: $white;
    margin: 30px auto;
    padding: 30px 0 10px;
  }

  .content {
    padding-bottom: 30px;
    text-align: center;
  }

  .organisation {
    .org_row {
      @include media (null, $sm) {
        display: unset;
      }

      display: inline-flex;
      text-align: center;

      a {
        @include media (null, $sm) {
          padding-left: 0;
          padding-right: 0;
        }

        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .org-image {
      background: $white;
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, .16); // sass-lint:disable-line no-color-literals
      height: 100px;
      object-fit: cover;
      width: 100px;
    }

    .no-image {
      @include media (null, $sm) {
        display: inline-block;
      }

      background: $gray2;
      border-radius: 50%;
      cursor: pointer;
      height: 100px;
      margin-bottom: 5px;
      overflow: hidden;
      position: relative;
      width: 100px;

      &::before {
        content: 'NO IMAGE';
        left: 15%;
        position: absolute;
        text-align: center;
        top: 42%;
      }
    }

    .org_title {
      @include media (null, $sm) {
        margin-bottom: 10px;
      }

      color: $white;
      font-size: 1.71429rem;
      margin-top: 8px;
      text-align: center;
    }
  }
}

//homepage specific
.page-node-31 {
  .node--view-mode-full {
    .group-left {
      display: none;
    }
  }
}

//blog title
.block-field-blocknodearticlefield-api-detail-section {
  .field__label {
    margin-top: 14px;
  }
}

.block-block-homepagebanner {
  .field--name-field-icons {
    margin: 20px -50px -60px;
  }
}
