// Issues node page
.node {
  &.node--type-issues {
    .field__label,
    .field__item,
    .field__items {
      display: inline-block;
    }

    .node__content {
      > .inline__links {
        margin-bottom: 5px;
      }
    }

    .field--name-body {
      text-align-last: left;

      img {
        border: 1px solid $gray6;
        border-radius: 4px;
        display: block;
        margin-bottom: 15px;
        padding: 5px;
        width: 300px;
      }
    }
  }
}

// Comment
.comment-add,
.comment-forbidden {
  padding-left: 0;
}

.main-content {
  .comment {
    border-bottom: 1px solid $gray2;
    display: block;
    margin: 0;
    padding: 20px 0;

    .comment__meta {
      padding-left: 0;
      text-transform: capitalize;
    }

    .comment__content {
      background: transparent;
      border: 0;
      max-width: 100%;
      padding: 0;
      padding-bottom: 20px;
      padding-top: 20px;

      &::before,
      &::after {
        display: none;
      }

      .comment-forbidden,
      .comment__permalink {
        display: none;
      }
    }

    .card-title {
      margin-top: 0;
      text-transform: capitalize;
    }

    .user-picture {
      @include media (null, $md - 1) {
        float: none;
        width: 100%;
      }

      float: left;

      .field--name-user-picture {
        float: none;
        margin: 0;
      }

      img {
        border-radius: 50%;
      }
    }

    .card-block {
      background: $gray4;
      border-radius: 10px;
      margin-left: 40px;
      padding: 20px;
      position: relative;
      width: 70%;

      &::before {
        background: $gray4;
        content: '';
        display: block;
        height: 40px;
        left: -20px;
        position: absolute;
        transform: rotate(45deg);
        width: 40px;
      }
    }

    .user-info {
      @include media (null, $md - 1) {
        margin-left: 0;
      }

      margin-left: 120px;
    }

    .field--name-comment-body {
      p {
        &:last-child {
          margin: 0;
        }
      }

      + nav {
        @include font (12, normal);
        margin-top: 15px;
        position: absolute;
        right: 15px;
      }
    }

    ~ .indented {
      background: $white;
      border-bottom: 1px solid $gray2;
      margin-left: 0;
      margin-top: -20px;
      padding-bottom: 20px;
      padding-left: 60px;
      position: relative;

      .card-block {
        @include media (null, $md - 1) {
          width: 85%;
        }

        background: $gray7;
        width: 74%;

        &::before {
          background: $gray7;
          left: 50px;
          top: -20px;
        }
      }

      .comment {
        border: 0;
        padding: 0;
      }
    }
  }
}

.comment-form {
  .form-control,
  .custom-select {
    width: auto;
  }

  .js-filter-wrapper {
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: flex-end;
    padding-top: 15px;

    .form-group {
      width: 50%;

      &.js-form-wrapper {
        padding-top: 10px;
        text-align: right;
      }
    }
  }

  .button--primary {
    @extend %custom-btn;
    @extend %custom-btn-submit;
    @include font(14, 500);
    background: none;
    display: inline-block;
    text-decoration: none;

    &::before {
      @extend %none;
    }
  }
}

.field--type-comment {
  margin-top: 30px;
}

.comment-form__title {
  @include font (20, normal);
  margin-top: 20px;
}

// Sharing
.social-media-sharing {
  @include media (null, $sm) {
    margin-top: 15px;
  }

  ul {
    li {
      margin-right: 10px;
      // width: 25px;
      width: 30px;
    }
  }
}
