@import "settings";

.node--type-api-product {
  .ds-2col {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    @include for-tablet-landscape-down {
      flex-flow: column;
    }

    &.support-block {
      width: 100vw;
      margin-left: -50vw;
      position: relative;
      left: 50%;
    }
  }
}

.support-block {
  .group-left {
    background: none;
    border-bottom: 1px solid $blue;
    border-left: 1px solid $blue;
    display: flex;
    float: none;
    flex-flow: row wrap;
    flex: 0 0 50% !important;
    justify-content: center;
    margin: 0 !important;
    padding: 0;
    position: relative;

    .field--type-fivestar {
      .field__label {
        @extend %none;
      }
    }

    .block-field-blocknodeapi-productfield-user-rating {
      @include for-tablet-landscape-down {
        margin: 8px auto auto;
        text-align: center;
      }

      margin: 8px 32px 2px 34px;
      order: 2;

      .total-votes {
        display: none;
      }
    }

    .block-social-sharing-block {
      @include for-tablet-landscape-down {
        width: fit-content;
      }

      order: 3;
      padding-top: 10px;
      text-align: center;
      width: 36%;
    }

    .block-openapidevx-subscription-block {
      @include for-tablet-landscape-down {
        width: fit-content;
      }

      margin: 8px 0 0;
      order: 4;
      text-align: center;
      width: 18%;
    }

    @include for-tablet-landscape-down {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  .group-right {
    float: none;
    flex: 0 0 50% !important;
    margin: 0;

    @include for-tablet-landscape-down {
      width: 100%;
      flex: 0 0 100%;
      margin-bottom: 1rem;
    }
  }
}

.block-api-product {
  border-bottom: 1px solid $blue;
  margin: 0 25px 10px;
  order: 1;
  padding-bottom: 15px;
  width: 100%;

  @include for-tablet-landscape-down {
    margin: 0 10px 10px;
  }

  .field {
    display: flex;
    justify-content: center;
  }

  .field>.field__item {
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 33.33%;

    +.field__item::before {
      background: $blue;
      content: '';
      display: block;
      height: 75px;
      position: absolute;
      top: 20px;
      width: 1px;
    }
  }

  .para-body {
    display: flex;
    flex-flow: column;

    span :nth-child(1) {
      @include font (12, normal);
      padding-top: 15px;
    }

    span:nth-child(2) {
      @include font (34, normal);
    }
  }
}

.social-media-sharing {
  @include for-tablet-landscape-down {
    margin-top: 15px;
  }

  li {
    margin-right: 10px;
    width: 30px;
  }
}

// 
.cta-wrapper {
  background-color: $blue;
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  position: relative;
  width: 100%;

  .cta-inner {
    color: $white;
    text-align: center;
    width: 50%;

    a {
      @extend %custom-btn;
      @extend %custom-btn-submit;
      @include font(14, 500);
      background: none;
      border: 1px solid $white;
      color: $white;
      display: inline-block;
      text-decoration: none;
    }

    a:hover {
      border: 1px solid $white;
    }

    .cta-description {
      margin: 15px 0;
      min-height: 1px;
    }

    &:last-child::before {
      background: $white;
      content: '';
      display: block;
      height: calc(100% - 40px);
      position: absolute;
      top: 20px;
      width: 1px;
    }
  }
}

// Block key feature
.block-key-features {
  .field--name-field-key-features {
    @include for-tablet-landscape-down {
      flex-flow: column;
    }

    display: flex;
    justify-content: center;
  }

  .field--name-field-key-features>.field__item {
    @include for-tablet-landscape-down {
      margin-bottom: 15px;
      padding: 0;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    padding: 0 15px;
    text-align: center;
    width: 33.33%;
  }

  .paragraph {
    font-size: 1rem;
  }
}

.field--name-field-feature-label {
  text-align: center;
  margin-bottom: 1rem;
}

// product view with left-nav.
.node--type-api-product {
  .node--view-mode-left-nav-full-view {
    .group-left {
      flex: 0 0 25%;
      float: none;
      margin-right: 15px;

      @include for-tablet-landscape-down {
        width: 100%;
        flex: 0 0 100% !important;
        align-items: baseline;
      }
    }

    .group-left .left-navigation {
      padding: 25px 20px 30px;
    }
  }

  .node--view-mode-left-nav-full-view .group-right {
    @include for-tablet-landscape-down {
      flex: 0 0 100% !important;
      margin-bottom: 1rem;
      width: 100%;
    }

    flex: 0 0 72%;
    float: none;
    width: auto;
  }
}

.block-field-blockgroupprotectedfield-description,
.block-field-blockgrouppublicfield-description,
.block-field-blockgroupprivatefield-description {
  @include for-phone-down {
    padding: 0;
  }

  @extend %custom-container;

  .field--name-field-description {
    background: $gray-lighter-1;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.16);
    padding: 1rem 1rem 0.25rem;
    margin: 3rem auto;
  }
}
