{#
/**
 * @file
 */
#}
<div class="cta-wrapper">
  {% for key, value in ctaData %}
    <div class="cta-inner">
      <div class="cta-title">{{ value.ctaTitle }}</div>
      <div class="cta-description">{{ value.ctaDescription }}</div>
      <div class="cta-links">
        <a href={{ value.ctaUrl }} class="cta-url">
          {{ value.ctaLabel }}
        </a>
      </div>
    </div>
  {% endfor %}
</div>
