{#
/**
 * @file
 */
#}
<div class="banner-wrapper">
  <div class="container">
    <div class="row">
    <div class="col-lg-6">
      <div class="field--name-field-title">
        <h1>{{ title }}</h1>
      </div>
      <div class="field--name-body">
        {{ description }}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="field--name-field-images">
        <img src="{{ banner }}">
      </div>
    </div>
    </div>
  </div>
</div>
