@import "settings";

// User Login page.
.page-user-login {
  .main-content {
    @include for-phone-down {
      max-width: 100%;
    }

    margin: 0 auto;
    max-width: 60%;
    padding: 0 15px;

    .nav {
      justify-content: left;
    }
  }

  .nav-link--user-password {
    display: none;
  }

  .block-social-auth-login,
  .user-login-form {
    @include for-tablet-landscape-up {
      width: 50%;
    }

    width: 100%;
  }

  .block-social-auth-login {
    float: right;
    padding-left: 30px;
    position: relative;

    a {
      border: 1px solid $gray-light-1;
      color: $gray-base;
      display: block;
      margin-bottom: 20px;
      padding: 15px;
    }

    img {
      width: 30px;

      &.saml {
        background: $blue-dark-hover;
        padding: 3px;
      }
    }

    @include for-tablet-landscape-down {
      order: 6;
      padding-left: 0;
    }
  }

  .user-login-form {
    border-right: 1px solid $gray-light-1;
    float: left;
    padding-right: 30px;

    .form-text,
    .form-email {
      background-color: $white;
      border: 1px solid $gray-light-1;
      border-radius: 0;
      box-shadow: none;
      flex: 1 1 0;
      width: 100%;
    }

    .form-submit {
      width: 100%;
    }

    .reset {
      width: 100%;
    }

    @include for-tablet-landscape-down {
      border-bottom: 1px solid $gray-light-1;
      border-right: 0;
      margin-bottom: 60px;
      order: 5;
      padding-bottom: 30px;
      padding-right: 0;
    }

    details {
      &.captcha {
        display: block;

        summary {
          &[aria-controls='captcha'] {
            @extend %none;
          }
        }

        .details-wrapper {
          margin: 20px 0;
        }

        .details-description {
          @extend %none;
        }
      }
    }
  }

  .seperator {
    @include for-tablet-landscape-down {
      bottom: calc(100% + 8px);
      justify-content: center;
      left: 40%;
      top: auto;
      width: 40px;
    }

    align-items: center;
    background: $white;
    display: flex;
    height: 40px;
    left: -12px;
    position: absolute;
    top: 130px;
  }

  .section {
    @include for-tablet-landscape-down {
      display: flex;
      flex-flow: column;
    }
  }
}

// Create new account.
.page-user-register {
  .main-content {
    @include for-phone-down {
      max-width: 100%;
    }

    margin: 0 auto;
    max-width: 60%;
    padding: 0 15px;

    .nav {
      justify-content: left !important;
    }
  }

  .nav-link--user-password {
    display: none;
  }

  .block-social-auth-login,
  .user-register-form {
    @include for-tablet-landscape-up {
      width: 50%;
    }

    width: 100%;

    .tabledrag-toggle-weight,
    .field-add-more-submit,
    details {
      @extend %none;
    }

    details {
      &.captcha {
        display: block;

        summary {
          &[aria-controls='captcha'] {
            @extend %none;
          }
        }

        .details-wrapper {
          margin: 20px 0;
        }

        .details-description {
          @extend %none;
        }
      }
    }
  }

  .block-social-auth-login {
    float: right;
    padding-left: 30px;
    position: relative;

    a {
      border: 1px solid $gray-light-1;
      color: $gray-base;
      display: block;
      margin-bottom: 20px;
      padding: 15px;
    }

    img {
      width: 30px;

      &.saml {
        background: $blue-dark-hover;
        padding: 3px;
      }
    }

    @include for-tablet-landscape-down {
      padding-left: 0;
    }
  }

  .user-register-form {
    border-right: 1px solid $gray-light-1;
    float: left;
    padding-right: 30px;

    label {
      display: block;
    }

    .form-type-select {
      .custom-select {
        border: 1px solid $gray-light-1;
        width: 100%;
      }
    }

    .form-text,
    .form-email {
      background-color: $white;
      border: 1px solid $gray-light-1;
      border-radius: 0;
      box-shadow: none;
      flex: 1 1 0;
      width: 100%;
    }

    .form-submit {
      width: 100%;
    }

    .reset {
      width: 100%;
    }

    @include for-tablet-landscape-down {
      border-right: 0;
      border-top: 1px solid $gray-light-1;
      margin-top: 30px;
      padding-right: 0;
      padding-top: 20px;
    }
  }

  .seperator {
    @include for-tablet-landscape-down {
      bottom: -50px;
      justify-content: center;
      left: 46%;
      top: auto;
      width: 40px;
    }

    align-items: center;
    background: $white;
    display: flex;
    height: 40px;
    left: -12px;
    position: absolute;
    top: 130px;
  }
}

// Reset Password.
.page-user-password {
  .main-content {
    @include for-phone-down {
      max-width: 100%;
    }

    margin: 0 auto;
    max-width: 60%;
    padding: 0 15px;
  }
}
