.node--unpublished {
  .apps-full-custom {
    .block-field-blocknodeappsfield-client-id,
    .block-field-blocknodeappsfield-client-secret {
      display: none;
    }
  }
}

.apps-full-custom {

  .ds-2col-stacked-fluid {
    width: 100%;
  }

  h2 {
    @include font(14, 700);
    border-bottom: 1px solid $green;
    color: $blue1;
    display: inline-block;
    margin-bottom: 5px;

    + .content {

      .field--name-field-client-id,
      .field--name-field-client-secret {
        font-size: 0;

        &::before {
          content: '**********';
          font-size: initial;
        }

        i {
          cursor: pointer;
          display: inline-block;
          font-style: normal;
          margin-left: 10px;

          &::before {
            @extend %awsome;
            content: '\f06e';
            font-size: initial;
          }

          ~ i {
            @extend %none;
          }
        }

        &.show-keys {
          font-size: initial;

          &::before {
            @extend %none;
          }

          i {
            &::before {
              @extend %awsome;
              content: '\f070';
              font-size: initial;
            }

            ~ i {
              @extend %none;
            }
          }
        }
      }
    }

    &::after {
      content: ' :';
    }
  }

  .group-header {
    background-color: $gray6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 140px;
    padding: 20px;

    > div {
      height: auto;
      padding-left: 20px;
      width: calc(100% - 100px);

      &:first-child {
        &.block-field-blocknodeappsfield-products-image {
          height: 100%;
          padding-left: 0;
          width: 100px;
        }
      }
    }

    .field--name-field-display-name,
    .field--name-uid {
      @include font(18, 700);

      a {
        @include font(16, 600);
        color: $blue1;
      }
    }
  }

  .group-left {

    @include media (null, $sm) {
      padding: 20px 0 0;
      width: 100% !important; // sass-lint:disable-line no-important
    }

    padding: 20px 0 20px 20px;
    width: 72% !important; // sass-lint:disable-line no-important

    .field--name-field-video {
      text-align: center;
    }
  }

  .group-right {

    @include media (null, $sm) {
      padding: 20px 0 0;
      width: 100% !important;
    }

    padding: 20px;
    width: 28% !important; // sass-lint:disable-line no-important

    .block-layout-builder {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.page-view-proxies-listing {

  .node--unpublished {
    padding: 0;
  }

  .ui-dialog {
    padding: 0;
  }

  .ui-dialog-titlebar {
    padding: 0;
  }

  .ui-dialog-content {
    padding: 0;
  }

  .ui-dialog-title {
    display: none;
  }

  .ui-dialog-titlebar-close {
    background: 0;
    border: 0;
    margin: 10px;
    z-index: 101;
  }

  table {
    border-left: 1px solid $green;

    th {
      border: 1px solid $green;
    }

    td {
      border-bottom: 1px solid $green;
      border-right: 1px solid $green;
    }
  }
}

.view-display-id-page_apps_listing {
  .views-field-nothing {

    @include media (null, $sm) {
      width: auto;
    }

    width: 18%;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        a {
          border: 1px solid $green;
          border-radius: 20px;
          color: $green;
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          padding: 5px 8px;
          text-align: center;
          width: 100%;

          &:hover {
            background: $green;
            color: $white;
          }
        }
      }
    }
  }
}
