.use-case-listing {
  .use-case-desc,
  .use-case-rating {
    margin: 0 0 15px;
    padding: 0 10px;
  }

  .use-case-title {
    a {
      @include font (20, normal);
      color: $blue1;
      display: block;
      margin: 15px 0;
      padding: 0 10px;
    }
  }

  .use-case-org,
  .use-case-prod {
    @include media (null, $sm - 1) {
      width: 100%;
    }

    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;

    a {
      // @extend %custom-btn;
      // @extend %custom-btn-submit;
      @include media (null, $sm - 1) {
        display: block;
        text-align: center;
      }

      @include font(14, 500);
      color: $green;
      display: inline-block;
      text-decoration: none;
    }
  }
}

.solution-listing {
  .solution-desc {
    margin: 0 0 15px;
    padding: 0 10px;
  }

  .solution-title {
    a {
      @include font (20, normal);
      color: $blue1;
      display: block;
      margin: 15px 0;
      padding: 0 10px;
      text-align: center;
    }
  }

  .solution-prod,
  .solution-org {
    @include media (null, $sm - 1) {
      width: 100%;
    }

    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;

    a {
      @include media (null, $sm - 1) {
        display: block;
        text-align: center;
      }

      @include font(14, 500);
      color: $green;
      display: inline-block;
      text-decoration: none;
    }
  }
}
