@import "mixins/media-queries";
@import "mixins/clearfix";
@import "mixins/border-radius";
@import "mixins/elevation";
@import "mixins/image";
@import "mixins/list-unstyled";
@import "mixins/ellipsis";
@import "mixins/nav-divider";
@import "mixins/reset-text";
@import "mixins/visually-hidden";
@import "mixins/dropdown-menu";
@import 'mixins/buttons';

@mixin theme($property, $value) {
  #{$property}: $value !important; // sass-lint:disable-line no-important
}

%custom-container {
  @include for-phone-up {
    max-width: 540px;
  }

  @include for-tablet-portrait-up {
    max-width: 720px;
  }

  @include for-tablet-landscape-up {
    max-width: 960px;
  }

  @include for-desktop-up {
    max-width: 1140px;
  }

  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

%custom-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

%none {
  display: none;
}

%remove-space {
  margin: 0;
  padding: 0;
}

%shadow {
  box-shadow: 0 0 8px 1px $shadow-color;
}

%shadow-with-bg {
  @extend %shadow;
  background-color: $gray-lighter-1;
  border-radius: 4px;
}

%custom-btn-submit {
  border: 1px solid $blue-dark;
  color: $blue-dark;
  text-transform: capitalize;

  &:hover {
    background-color: $blue-dark;
    border-color: $blue-dark;
    color: $white;
  }
}

%custom-btn {
  border-radius: 20px;
  padding: 6px 10px;
}

@mixin multiline-ellipsis($l-show, $f-size, $l-height) {
  $f-size: $f-size - 1;
  line-height: $l-height;
  max-height: #{$l-show * $f-size * $l-height}px;
  overflow: hidden;
  padding-right: 15px;
  position: relative;
  text-align: justify;

  &::before {
    bottom: 0;
    content: "...";
    position: absolute;
    right: 0;
  }

  &::after {
    background: $gray;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    width: 15px;
  }
}

%awsome {
  font-family: "FontAwesome", "Font Awesome 5 Free";
  font-weight: 900;
}

// For site flow layout.
%flow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 40px;
  max-width: 92%;

  >.field__item {
    @include font(14, normal);
    align-items: center;
    background-color: $blue;
    border-bottom: 2px solid $blue;
    border-top: 2px solid $blue;
    color: $white;
    display: flex;
    padding: 0;
    width: 16%;

    a {
      color: $white;
    }

    &::before {
      @include font(26, normal);
      background-color: $blue-dark;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      margin-right: 15px;
      padding: 7px 15px;
      text-align: center;
      width: 50px;
    }

    &:nth-child(1) {
      background-color: $white;
      border-bottom: 2px solid $blue-dark;
      border-left: 2px solid $blue-dark;
      border-radius: 60px 0 0 60px;
      border-top: 2px solid $blue-dark;
      color: $blue-dark;
      padding-left: 0;

      &::before {
        content: "1";
      }

      a {
        color: $blue-dark;
      }
    }

    &:nth-child(2) {
      border-radius: 60px 0 0 60px;
      left: -28px;
      position: relative;

      &::before {
        content: "2";
      }
    }

    &:nth-child(3) {
      margin-left: -28px;

      &::before {
        content: "3";
      }
    }

    &:nth-child(4) {
      &::before {
        content: "4";
      }
    }

    &:nth-child(5) {
      &::before {
        content: "5";
      }
    }

    &:nth-child(6) {
      &::before {
        content: "6";
      }
    }

    &:last-child {
      border-radius: 0 30px 30px 0;
      padding-right: 0;
    }

    span,
    a {
      display: inline-block;
      max-width: 60%;
    }
  }
}
